In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import glob
# import seaborn as sns

# 구글

In [ ]:
google = pd.read_csv('google.csv', usecols=['식당', '별점', '리뷰'])

In [ ]:
google.head()

    식당  별점                                                 리뷰
0  정식당  5개  저의 개인적 취향을 두고 볼 때에는\n소스가 전체적으로 오일리하고 무거운\n느낌이 ...
1  정식당  5개  이정도 가격대의 식당을 방문하시는분이라면\n식사에 대한 기준이 높을꺼라 생각합니다....
2  정식당  5개  맛만 보면 4.5, 모든걸 더하면 5\n\n배를 채우러 가기 보다는 음식이라는 하나...
3  정식당  5개  금액이 좀 비싸지만 미슐렝가이드 레스토랑을 제대로 즐길 수 있어요. 모든 음식은 한...
4  정식당  5개  정말 세상에서 제일 맛있는 음식과 친절한 직원들 ❤️\n파인다이닝인데 큰 기교를 부...

In [ ]:
google.shape

(37572, 3)

In [ ]:
# 결측치 X
google.isna().sum()

식당    0
별점    0
리뷰    0
dtype: int64

# 데이터 수정(숫자로 변환, 이모지와 줄바꿈 제거)

In [ ]:
google['별점'] = google['별점'].str[:1].astype(np.float64)
google.head()

    식당   별점                                                 리뷰
0  정식당  5.0  저의 개인적 취향을 두고 볼 때에는\n소스가 전체적으로 오일리하고 무거운\n느낌이 ...
1  정식당  5.0  이정도 가격대의 식당을 방문하시는분이라면\n식사에 대한 기준이 높을꺼라 생각합니다....
2  정식당  5.0  맛만 보면 4.5, 모든걸 더하면 5\n\n배를 채우러 가기 보다는 음식이라는 하나...
3  정식당  5.0  금액이 좀 비싸지만 미슐렝가이드 레스토랑을 제대로 즐길 수 있어요. 모든 음식은 한...
4  정식당  5.0  정말 세상에서 제일 맛있는 음식과 친절한 직원들 ❤️\n파인다이닝인데 큰 기교를 부...

In [ ]:
text = google.loc[4, '리뷰']
text

'정말 세상에서 제일 맛있는 음식과 친절한 직원들 ❤️\n파인다이닝인데 큰 기교를 부리기보다 정말 맛있는 음식을 내온다는 인상을 받았습니다\n맛있는 김밥과 당근은 꼭 드셔보세요 🥕'

In [ ]:
re.sub(r'[^ .,?!/@$%~％·∼()\x00-\x7Fㄱ-ㅣ가-힣]+', '', text) # 아스키 문자(공백, 숫자, 영어 등) 범위: \x00-\x7F

'정말 세상에서 제일 맛있는 음식과 친절한 직원들 \n파인다이닝인데 큰 기교를 부리기보다 정말 맛있는 음식을 내온다는 인상을 받았습니다\n맛있는 김밥과 당근은 꼭 드셔보세요 '

In [ ]:
re.sub(r'[\n]+', ' ', text)

'정말 세상에서 제일 맛있는 음식과 친절한 직원들 ❤️ 파인다이닝인데 큰 기교를 부리기보다 정말 맛있는 음식을 내온다는 인상을 받았습니다 맛있는 김밥과 당근은 꼭 드셔보세요 🥕'

In [ ]:
# 이모지 제거
def preprocessing(text):
    text = re.sub(r'[^ .,?!/@$%~％·∼()\x00-\x7Fㄱ-ㅣ가-힣]+', '', text)
    text = re.sub(r'[\n]+', ' ', text)
    text = re.sub(r'^[\s]+$', '', text)
    return text

preprocessing('😄😁😄😁😄😁😄😁😄😁    ')

''

In [ ]:
preprocessing(text)

'정말 세상에서 제일 맛있는 음식과 친절한 직원들  파인다이닝인데 큰 기교를 부리기보다 정말 맛있는 음식을 내온다는 인상을 받았습니다 맛있는 김밥과 당근은 꼭 드셔보세요 '

In [ ]:
google['리뷰'] = google['리뷰'].map(preprocessing)
google.head()

    식당   별점                                                 리뷰
0  정식당  5.0  저의 개인적 취향을 두고 볼 때에는 소스가 전체적으로 오일리하고 무거운 느낌이 있습...
1  정식당  5.0  이정도 가격대의 식당을 방문하시는분이라면 식사에 대한 기준이 높을꺼라 생각합니다. ...
2  정식당  5.0  맛만 보면 4.5, 모든걸 더하면 5 배를 채우러 가기 보다는 음식이라는 하나의 주...
3  정식당  5.0  금액이 좀 비싸지만 미슐렝가이드 레스토랑을 제대로 즐길 수 있어요. 모든 음식은 한...
4  정식당  5.0  정말 세상에서 제일 맛있는 음식과 친절한 직원들  파인다이닝인데 큰 기교를 부리기보...

In [ ]:
google.isna().sum()

식당    0
별점    0
리뷰    0
dtype: int64

In [ ]:
google[google['리뷰']=='']

                  식당   별점 리뷰
5627            뚝배기집  5.0
5655            뚝배기집  5.0
9924            뚝배기집  5.0
9952            뚝배기집  5.0
16285    정원레스토랑 어반가든  5.0
18536         삼청동수제비  4.0
25611    진옥화할매원조닭한마리  3.0
27904       쟈니덤플링 본관  4.0
32081  죠티인도 레스토랑 신촌점  3.0
33649            우육미  4.0

In [ ]:
google.shape

(37572, 3)

In [ ]:
# 이모티콘을 빼서 리뷰가 없어지는 것 drop
google = google[google['리뷰']!='']
google.shape

(37562, 3)

In [ ]:
google.to_csv('google_preprocessing.csv', index=False, encoding='utf-8')

# 요기요

In [ ]:
yy = pd.read_csv('Gyeonggi_yogiyo.csv', usecols=['store_name', 'taste_point', 'quantity_point', 'review_text'])
yy.head()

,store_name,taste_point,quantity_point,review_text
0,최배달떡순튀-서수원점,4.0,5.0,오늘은 기사님이 배달완료 문자를 안주셔서 모르다가 밖에 나가보니 있었습니다. 떡볶이...
1,최배달떡순튀-서수원점,5.0,5.0,탱글탱글한 순대 맛나요
2,최배달떡순튀-서수원점,5.0,5.0,맛있게 잘 먹었습니다
3,최배달떡순튀-서수원점,5.0,5.0,오늘도 맛있게 잘 먹었습니다~~
4,최배달떡순튀-서수원점,5.0,5.0,오랜만에 먹어도 맛있네요 많이 파세요~~~~

# 결측값 보기(126개 제거)

In [ ]:
yy.isna().sum()

store_name          0
taste_point       126
quantity_point    126
review_text         0
dtype: int64

In [ ]:
yy.shape

(109650, 4)

In [ ]:
yy.dropna(inplace=True)

In [ ]:
yy.shape

(109524, 4)

# taste_point와 quantity_point 평균 내기

In [ ]:
yy['mean_point'] = (yy['taste_point']+yy['quantity_point'])/2
yy.head()

,store_name,taste_point,quantity_point,review_text,mean_point
0,최배달떡순튀-서수원점,4.0,5.0,오늘은 기사님이 배달완료 문자를 안주셔서 모르다가 밖에 나가보니 있었습니다. 떡볶이...,4.5
1,최배달떡순튀-서수원점,5.0,5.0,탱글탱글한 순대 맛나요,5.0
2,최배달떡순튀-서수원점,5.0,5.0,맛있게 잘 먹었습니다,5.0
3,최배달떡순튀-서수원점,5.0,5.0,오늘도 맛있게 잘 먹었습니다~~,5.0
4,최배달떡순튀-서수원점,5.0,5.0,오랜만에 먹어도 맛있네요 많이 파세요~~~~,5.0

In [ ]:
yogiyo = yy.drop(axis=1, columns=['taste_point', 'quantity_point'])
yogiyo.head()

    store_name                                        review_text  mean_point
0  최배달떡순튀-서수원점  오늘은 기사님이 배달완료 문자를 안주셔서 모르다가 밖에 나가보니 있었습니다. 떡볶이...         4.5
1  최배달떡순튀-서수원점                                       탱글탱글한 순대 맛나요         5.0
2  최배달떡순튀-서수원점                                        맛있게 잘 먹었습니다         5.0
3  최배달떡순튀-서수원점                                  오늘도 맛있게 잘 먹었습니다~~         5.0
4  최배달떡순튀-서수원점                           오랜만에 먹어도 맛있네요 많이 파세요~~~~         5.0

In [ ]:
yogiyo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109524 entries, 0 to 109649
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   store_name   109524 non-null  object
 1   review_text  109524 non-null  object
 2   mean_point   109524 non-null  float64
dtypes: float64(1), object(2)
memory usage: 3.3+ MB

# 데이터 수정

In [ ]:
yogiyo['review_text'].head(10)

0    오늘은 기사님이 배달완료 문자를 안주셔서 모르다가 밖에 나가보니 있었습니다. 떡볶이...
1                                         탱글탱글한 순대 맛나요
2                                          맛있게 잘 먹었습니다
3                                    오늘도 맛있게 잘 먹었습니다~~
4                             오랜만에 먹어도 맛있네요 많이 파세요~~~~
5                                           맛있게 잘 먹었어요
6                                           맛있게 잘 먹었어요
7                                      오믈도 맛나게 잘 먹었어요~
8    내장 넘 맛있어요...😭 부드럽고 쫄깃하고 다함 고튀랑 김말이튀김도 특제소스 만들어...
9                        분식 먹고 싶을때 항상 시켜요 특히 순대 넘 맛있어요
Name: review_text, dtype: object

In [ ]:
yogiyo['review_text'] = yogiyo['review_text'].map(preprocessing)
yogiyo.head(10)

    store_name                                        review_text  mean_point
0  최배달떡순튀-서수원점  오늘은 기사님이 배달완료 문자를 안주셔서 모르다가 밖에 나가보니 있었습니다. 떡볶이...         4.5
1  최배달떡순튀-서수원점                                       탱글탱글한 순대 맛나요         5.0
2  최배달떡순튀-서수원점                                        맛있게 잘 먹었습니다         5.0
3  최배달떡순튀-서수원점                                  오늘도 맛있게 잘 먹었습니다~~         5.0
4  최배달떡순튀-서수원점                           오랜만에 먹어도 맛있네요 많이 파세요~~~~         5.0
5  최배달떡순튀-서수원점                                         맛있게 잘 먹었어요         5.0
6  최배달떡순튀-서수원점                                         맛있게 잘 먹었어요         5.0
7  최배달떡순튀-서수원점                                    오믈도 맛나게 잘 먹었어요~         5.0
8  최배달떡순튀-서수원점  내장 넘 맛있어요... 부드럽고 쫄깃하고 다함 고튀랑 김말이튀김도 특제소스 만들어서...         5.0
9  최배달떡순튀-서수원점                      분식 먹고 싶을때 항상 시켜요 특히 순대 넘 맛있어요         4.5

# 이모지 제거하면 리뷰가 없는 경우

In [ ]:
yogiyo[yogiyo['review_text']=='']

         store_name review_text  mean_point
115     최배달떡순튀-서수원점                     5.0
301     최배달떡순튀-서수원점                     5.0
1840    최배달떡순튀-서수원점                     5.0
2106    최배달떡순튀-서수원점                     5.0
2163    최배달떡순튀-서수원점                     5.0
...             ...         ...         ...
105035  행복한찜닭-오포능평점                     5.0
105096  행복한찜닭-오포능평점                     5.0
105105  행복한찜닭-오포능평점                     5.0
105106  행복한찜닭-오포능평점                     5.0
107653     번쩍피자-신현점                     5.0

[184 rows x 3 columns]

In [ ]:
yogiyo.shape

(109524, 3)

In [ ]:
yogiyo = yogiyo[yogiyo['review_text']!='']
yogiyo.shape

(109340, 3)

# 컬럼 네임 재정의

In [ ]:
yogiyo.rename(columns={'store_name':'식당', 'mean_point':'별점', 'review_text':'리뷰'}, inplace=True)
yogiyo.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_23852\3996321321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yogiyo.rename(columns={'store_name':'식당', 'mean_point':'별점', 'review_text':'리뷰'}, inplace=True)

            식당                                                 리뷰   별점
0  최배달떡순튀-서수원점  오늘은 기사님이 배달완료 문자를 안주셔서 모르다가 밖에 나가보니 있었습니다. 떡볶이...  4.5
1  최배달떡순튀-서수원점                                       탱글탱글한 순대 맛나요  5.0
2  최배달떡순튀-서수원점                                        맛있게 잘 먹었습니다  5.0
3  최배달떡순튀-서수원점                                  오늘도 맛있게 잘 먹었습니다~~  5.0
4  최배달떡순튀-서수원점                           오랜만에 먹어도 맛있네요 많이 파세요~~~~  5.0

In [ ]:
yogiyo.head()

            식당                                                 리뷰   별점
0  최배달떡순튀-서수원점  오늘은 기사님이 배달완료 문자를 안주셔서 모르다가 밖에 나가보니 있었습니다. 떡볶이...  4.5
1  최배달떡순튀-서수원점                                       탱글탱글한 순대 맛나요  5.0
2  최배달떡순튀-서수원점                                        맛있게 잘 먹었습니다  5.0
3  최배달떡순튀-서수원점                                  오늘도 맛있게 잘 먹었습니다~~  5.0
4  최배달떡순튀-서수원점                           오랜만에 먹어도 맛있네요 많이 파세요~~~~  5.0

In [ ]:
yogiyo.to_csv('yogiyo_preprocessing.csv', index=False, encoding='utf-8')

In [ ]:
yy = pd.read_csv('yogiyo_preprocessing.csv')
yy.isna().sum()

식당    0
리뷰    0
별점    0
dtype: int64

# concat

In [ ]:
google = pd.read_csv('google_preprocessing.csv')
google.head()

    식당   별점                                                 리뷰
0  정식당  5.0  저의 개인적 취향을 두고 볼 때에는 소스가 전체적으로 오일리하고 무거운 느낌이 있습...
1  정식당  5.0  이정도 가격대의 식당을 방문하시는분이라면 식사에 대한 기준이 높을꺼라 생각합니다. ...
2  정식당  5.0  맛만 보면 4.5, 모든걸 더하면 5 배를 채우러 가기 보다는 음식이라는 하나의 주...
3  정식당  5.0  금액이 좀 비싸지만 미슐렝가이드 레스토랑을 제대로 즐길 수 있어요. 모든 음식은 한...
4  정식당  5.0  정말 세상에서 제일 맛있는 음식과 친절한 직원들  파인다이닝인데 큰 기교를 부리기보...

In [ ]:
# 결측값 확인
google.isna().sum()

식당    0
별점    0
리뷰    0
dtype: int64

In [ ]:
# shape 확인
google.shape

(37562, 3)

In [ ]:
yogiyo = pd.read_csv('yogiyo_preprocessing.csv')
yogiyo.head()

            식당                                                 리뷰   별점
0  최배달떡순튀-서수원점  오늘은 기사님이 배달완료 문자를 안주셔서 모르다가 밖에 나가보니 있었습니다. 떡볶이...  4.5
1  최배달떡순튀-서수원점                                       탱글탱글한 순대 맛나요  5.0
2  최배달떡순튀-서수원점                                        맛있게 잘 먹었습니다  5.0
3  최배달떡순튀-서수원점                                  오늘도 맛있게 잘 먹었습니다~~  5.0
4  최배달떡순튀-서수원점                           오랜만에 먹어도 맛있네요 많이 파세요~~~~  5.0

In [ ]:
# 결측값 확인
yogiyo.isna().sum()

식당    0
리뷰    0
별점    0
dtype: int64

In [ ]:
# shape 확인
yogiyo.shape

(109340, 3)

In [ ]:
# 합치면 나올 행 수 확인
google.shape[0]+yogiyo.shape[0]

146902

In [ ]:
df = pd.concat([google, yy])
df.head()

    식당   별점                                                 리뷰
0  정식당  5.0  저의 개인적 취향을 두고 볼 때에는 소스가 전체적으로 오일리하고 무거운 느낌이 있습...
1  정식당  5.0  이정도 가격대의 식당을 방문하시는분이라면 식사에 대한 기준이 높을꺼라 생각합니다. ...
2  정식당  5.0  맛만 보면 4.5, 모든걸 더하면 5 배를 채우러 가기 보다는 음식이라는 하나의 주...
3  정식당  5.0  금액이 좀 비싸지만 미슐렝가이드 레스토랑을 제대로 즐길 수 있어요. 모든 음식은 한...
4  정식당  5.0  정말 세상에서 제일 맛있는 음식과 친절한 직원들  파인다이닝인데 큰 기교를 부리기보...

In [ ]:
df.shape

(146902, 3)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146902 entries, 0 to 109339
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   식당      146902 non-null  object
 1   별점      146902 non-null  float64
 2   리뷰      146902 non-null  object
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [ ]:
df.isna().sum()

식당    0
별점    0
리뷰    0
dtype: int64

In [ ]:
df.to_csv('pn_df.csv', index=False, encoding='utf-8')

# 여러 df 한 번에 concat

In [ ]:
csv_list = glob.glob('서울/*.csv')
csv_list

['서울\\광진구.csv',
 '서울\\동대문구.csv',
 '서울\\성동구.csv',
 '서울\\송파구.csv',
 '서울\\용산구.csv',
 '서울\\종로구.csv',
 '서울\\중구.csv']

In [ ]:
cnt = 0
for csv in csv_list:
  df = pd.read_csv(csv)
  cnt += df.shape[0]
print(cnt)

107119

In [ ]:
df = pd.read_csv('서울/용산구.csv', usecols=['store_name', 'taste_point', 'quantity_point', 'review_text'])
df.head()

,store_name,taste_point,quantity_point,review_text
0,또래오래-송파문정점,5,5,😄😁😄😁😄😁😄😁😄😁
1,또래오래-송파문정점,5,5,역시 맛있어요 휴가 갔다오고 바로 먹었네용
2,또래오래-송파문정점,5,5,잘먹었습니다!~~~~
3,또래오래-송파문정점,5,5,맛있게잘먹었습니다!!!!!!
4,또래오래-송파문정점,5,5,왠만하면 리뷰안쓰는데 진짜 개맛있어요 다만 혼자 먹기엔 떡이 너무 많은데 떡보단 김...

In [ ]:
df.shape

(14650, 4)

In [ ]:
# 결측값
df.isna().sum()

store_name        0
taste_point       0
quantity_point    0
review_text       0
dtype: int64

In [ ]:
# 별점 평균
df['별점'] = (df['taste_point']+df['quantity_point'])/2
df.head()

,store_name,taste_point,quantity_point,review_text,별점
0,또래오래-송파문정점,5,5,😄😁😄😁😄😁😄😁😄😁,5.0
1,또래오래-송파문정점,5,5,역시 맛있어요 휴가 갔다오고 바로 먹었네용,5.0
2,또래오래-송파문정점,5,5,잘먹었습니다!~~~~,5.0
3,또래오래-송파문정점,5,5,맛있게잘먹었습니다!!!!!!,5.0
4,또래오래-송파문정점,5,5,왠만하면 리뷰안쓰는데 진짜 개맛있어요 다만 혼자 먹기엔 떡이 너무 많은데 떡보단 김...,5.0

In [ ]:
# 컬럼 이름 재정의
df.rename(columns={'store_name':'식당', 'review_text':'리뷰'}, inplace=True)
df.head()

,식당,taste_point,quantity_point,리뷰,별점
0,또래오래-송파문정점,5,5,😄😁😄😁😄😁😄😁😄😁,5.0
1,또래오래-송파문정점,5,5,역시 맛있어요 휴가 갔다오고 바로 먹었네용,5.0
2,또래오래-송파문정점,5,5,잘먹었습니다!~~~~,5.0
3,또래오래-송파문정점,5,5,맛있게잘먹었습니다!!!!!!,5.0
4,또래오래-송파문정점,5,5,왠만하면 리뷰안쓰는데 진짜 개맛있어요 다만 혼자 먹기엔 떡이 너무 많은데 떡보단 김...,5.0

In [ ]:
# 사용하는 컬럼만
df.drop(axis=1, columns=['taste_point', 'quantity_point'], inplace=True)
df.head()

           식당                                                 리뷰   별점
0  또래오래-송파문정점                                         😄😁😄😁😄😁😄😁😄😁  5.0
1  또래오래-송파문정점                            역시 맛있어요 휴가 갔다오고 바로 먹었네용  5.0
2  또래오래-송파문정점                                        잘먹었습니다!~~~~  5.0
3  또래오래-송파문정점                                    맛있게잘먹었습니다!!!!!!  5.0
4  또래오래-송파문정점  왠만하면 리뷰안쓰는데 진짜 개맛있어요 다만 혼자 먹기엔 떡이 너무 많은데 떡보단 김...  5.0

In [ ]:
# 이모지 제거
def preprocessing(text):
    text = re.sub(r'[^ .,?!/@$%~％·∼()\x00-\x7Fㄱ-ㅣ가-힣]+', '', text)
    text = re.sub(r'[\n]+', ' ', text)
    return text

df['리뷰'] = df['리뷰'].map(preprocessing)
df.head()

           식당                                                 리뷰   별점
0  또래오래-송파문정점                                                     5.0
1  또래오래-송파문정점                            역시 맛있어요 휴가 갔다오고 바로 먹었네용  5.0
2  또래오래-송파문정점                                        잘먹었습니다!~~~~  5.0
3  또래오래-송파문정점                                    맛있게잘먹었습니다!!!!!!  5.0
4  또래오래-송파문정점  왠만하면 리뷰안쓰는데 진짜 개맛있어요 다만 혼자 먹기엔 떡이 너무 많은데 떡보단 김...  5.0

In [ ]:
# 이모지 제거 후 빈 문자열 확인
df[df['리뷰']=='']

                  식당 리뷰   별점
0         또래오래-송파문정점     5.0
326    지코바치킨-서울송파1호점     5.0
357    지코바치킨-서울송파1호점     5.0
542      피자엠소마-오금거여점     5.0
1162     피자엠소마-오금거여점     5.0
...              ... ..  ...
19889       번쩍피자-강남점     5.0
20288       번쩍피자-강남점     5.0
20342       번쩍피자-강남점     5.0
20426       번쩍피자-강남점     5.0
20455       번쩍피자-강남점     5.0

[123 rows x 3 columns]

In [ ]:
new_df = df[df['리뷰']!='']
new_df.head()

           식당                                                 리뷰   별점
1  또래오래-송파문정점                            역시 맛있어요 휴가 갔다오고 바로 먹었네용  5.0
2  또래오래-송파문정점                                        잘먹었습니다!~~~~  5.0
3  또래오래-송파문정점                                    맛있게잘먹었습니다!!!!!!  5.0
4  또래오래-송파문정점  왠만하면 리뷰안쓰는데 진짜 개맛있어요 다만 혼자 먹기엔 떡이 너무 많은데 떡보단 김...  5.0
5  또래오래-송파문정점  치킨배달왔다해서 나가보니까 치킨이없어서 황당한데 배달기사님은 전화도 안받으시고 가게...  5.0

In [ ]:
# re.search(r'/([가-힣]+).', '서울/광진구.csv').group(1)

'광진구'

# concat 전 저장

In [ ]:
# 이모지 제거
def preprocessing(text):
    text = re.sub(r'[^ .,?!/@$%~％·∼()\x00-\x7Fㄱ-ㅣ가-힣]+', '', text) # 이모지 제거
    text = re.sub(r'[\n]+', ' ', text) # 줄바꿈 제거
    text = re.sub(r'^[\s]+$', '', text) # 빈 문자열 제거
    return text

for csv in glob.glob('서울/*.csv'):
  df = pd.read_csv(csv, usecols=['store_name', 'taste_point', 'quantity_point', 'review_text'])
  df.dropna(axis=0, inplace=True)
  df['별점'] = (df['taste_point']+df['quantity_point'])/2 # 별점 평균
  df.rename(columns={'store_name':'식당', 'review_text':'리뷰'}, inplace=True) # 컬럼 이름 재정의
  df.drop(axis=1, columns=['taste_point', 'quantity_point'], inplace=True) # 사용하는 컬럼만
  df['리뷰'] = df['리뷰'].map(preprocessing)
  new_df = df[df['리뷰']!='']
  new_df.to_csv(csv, index=False, encoding='utf-8')

# concat

In [ ]:
glob.glob('서울/*.csv')

['서울\\광진구.csv',
 '서울\\동대문구.csv',
 '서울\\성동구.csv',
 '서울\\송파구.csv',
 '서울\\용산구.csv',
 '서울\\종로구.csv',
 '서울\\중구.csv']

In [ ]:
concat_seoul = pd.concat([pd.read_csv(csv) for csv in glob.glob('서울/*.csv')])

In [ ]:
concat_seoul.head()

           식당                                                 리뷰   별점
0  또래오래-송파문정점                            역시 맛있어요 휴가 갔다오고 바로 먹었네용  5.0
1  또래오래-송파문정점                                        잘먹었습니다!~~~~  5.0
2  또래오래-송파문정점                                    맛있게잘먹었습니다!!!!!!  5.0
3  또래오래-송파문정점  왠만하면 리뷰안쓰는데 진짜 개맛있어요 다만 혼자 먹기엔 떡이 너무 많은데 떡보단 김...  5.0
4  또래오래-송파문정점  치킨배달왔다해서 나가보니까 치킨이없어서 황당한데 배달기사님은 전화도 안받으시고 가게...  5.0

In [ ]:
concat_seoul.shape

(106458, 3)

In [ ]:
concat_seoul.isna().sum()

식당    0
리뷰    0
별점    0
dtype: int64

In [ ]:
concat_seoul[concat_seoul['리뷰']=='']

Empty DataFrame
Columns: [식당, 리뷰, 별점]
Index: []

In [ ]:
concat_seoul[concat_seoul['리뷰']==' ']

Empty DataFrame
Columns: [식당, 리뷰, 별점]
Index: []

In [ ]:
concat_seoul.to_csv('concat_seoul.csv', index=False, encoding='utf-8')

# 구글 판교

In [92]:
pangyo = pd.read_csv('판교맛집리뷰.csv', usecols=['식당', '리뷰 내용', '평점'])
pangyo.head()

     식당                                              리뷰 내용  평점
0  h541  버거와 프렌치 토스트를 먹었습니다. 버거는 패티가 두툼하고 번이 부드럽습니다. 다만...   3
1  h541  판교 현백 9층에 있는 파스타 맛집이다. 딸이랑 한달에 한 두번은 간다. 직원 수에...   4
2  h541  판교 현대백화점 9층에 있는 이탈리안 식당. 공간이 오픈 되어있는 스타일이고 주말은...   4
3  h541  음식이 정말 맛있고 서버 분들도 착하세요, 다만 벽이 없어서 사람들 지나다니는게 다...   5
4  h541  분당지역에서 잘하는 이태리 음식점들 중에 하나\n현백에 있어서 쇼핑 후 식사하기도 좋음.   5

In [93]:
pangyo['식당'].unique()

array(['h541', 'js가든 현대백화점판교점', '경복궁 판교점', '계란집', '공화춘 현대백화점판교점',
       '광화문국밥 판교점', '긴자료코 판교점', '까몬 판교아브뉴프랑점', '능라도 본점', '담소사골순대 판교점',
       '더 키친 일뽀르노 현대백화점 판교점', '더이탈리안클럽 판교테크원점', '더플레이스 판교점', '데이빗앤룰스',
       '도원참치', '돈블랑 판교점', '동청담', '돼지맨숀', '됐소 판교본점', '뚜에이오', '라디오베이',
       '라멘천하', '라비떼', '라스토리아1001', '락빈칼국수', '람바다', '루프일레븐(ROOF 11)',
       '리스카페 판교', '리얼스페인 판교점', '마라공방 판교점', '마루심 판교점', '마마문스 판교본점',
       '매드포갈릭 판교라스트리트점', '매일식당', '명품국수', '모모야 현대백화점판교점', '모모카페',
       '몽중헌 판교점', '미소한우소고기국밥 판교역점', '박가부대찌개 판교라스트리트점', '반포식스 판교역점', '방아깐',
       '방유당 요즘 한식 다이닝 그레이츠 판교점', '베네쿠치', '베이징스토리', '봉우리 현대백화점 판교점',
       '분짜라붐 현대백화점 판교점', "붓처스컷 아브뉴프랑판교점 steak house BUTCHER'S CUT",
       '브루클린 더 버거 조인트', '비스트로도마', '비앙또아 판교점', '빈티지1988', '사라베스-판교 현대백화점',
       '삼미칼국수', '삿뽀로판교점', '새마을식당 판교점', '샘밭막국수 판교점', '생어거스틴아브뉴프랑판교점',
       '샤슬릭', '서호돈가스', '선한레시피 판교점', '세렌', '소호정 판교아브뉴프랑점', '소호정 판교테크노밸리점',
       '송추가마골 인어반 판교점', '수수커피 판교알파돔타워점', '쉐누하누', '스시이도', '스시쿤', '스시혼',
       '신도세기 판교역점', '신승반점 판교현대백화점', '아르고', '아방베이커리 판교카카오점', '아브뉴프랑 판교점',
       '아웃백스테이크하우스 판교점', '안안', '양바위 본점', '어글리스토브 알파돔시티점',
       '어글리스토브 판교라스트리트점', '에덴식당', '에머이 판교점', '엔바이콘', '여의나룻판교점', '예향정 판교점',
       '오리지널팬케이크하우스 판교점', '오한수우육면가 판교점', '온센 판교점', '우몽 판교본점', '우설화 판교점',
       '우영관', '우테이블', '울프스덴', '원조감자탕일미집 판교점', '원조부안집 판교직영점',
       '이가네양꼬치 판교본점', '이탈리 현대백화점 판교점 (Eataly Pangyo)', '이태리부대찌개 판교점',
       '인디테이블 판교아브뉴프랑점', '일도씨닭갈비 판교점', '자산어보 판교직영점', '장모밥상', '장비빔국수와 굴국밥',
       '정돈 현대백화점판교점', '정선한우', "제이스 팟 J's pot", '조재벌식당', '찜하우스', '차알',
       '차이나레스토랑오라', '참다운 정육식당', '창고43 판교점', '천지연 판교점', '최고집짬뽕', '카페랄로',
       '카페아임홈 백현점', '크래버 대게나라 판교점', '클준빛날영', '탭퍼블릭 판교점', '테이블스푼 판교점',
       '텍사스로드하우스 현대백화점 판교점', '토속상황삼계탕', '파파라구 Papa Ragu', '판교장어타운', '판교집',
       '판교집 판교역점', '페이딤 판교점', '푸에르코 판교점', '푸치니', '풍천숯불재벌장어', '피그인더가든 판교점',
       '피제리아비니스', '하누마루 판교점', '한국집현대백화점판교점', '한와담 판교점', '해우리 판교점',
       '헤비스테이크 판교테크노밸리점', '현대옥 판교점', '홀썸치킨', '화포식당 판교점', '효 판교점',
       '후라토식당 아브뉴프랑 판교점', '훠궈야 판교아브뉴프랑점', '흥도식당 판교점'], dtype=object)

In [95]:
pangyo.rename(columns={'리뷰 내용': '리뷰', '평점':'별점'}, inplace=True)
pangyo.head()

     식당                                                 리뷰  별점
0  h541  버거와 프렌치 토스트를 먹었습니다. 버거는 패티가 두툼하고 번이 부드럽습니다. 다만...   3
1  h541  판교 현백 9층에 있는 파스타 맛집이다. 딸이랑 한달에 한 두번은 간다. 직원 수에...   4
2  h541  판교 현대백화점 9층에 있는 이탈리안 식당. 공간이 오픈 되어있는 스타일이고 주말은...   4
3  h541  음식이 정말 맛있고 서버 분들도 착하세요, 다만 벽이 없어서 사람들 지나다니는게 다...   5
4  h541  분당지역에서 잘하는 이태리 음식점들 중에 하나\n현백에 있어서 쇼핑 후 식사하기도 좋음.   5

In [96]:
# 이모지 제거
def preprocessing(text):
    text = re.sub(r'[^ .,?!/@$%~％·∼()\x00-\x7Fㄱ-ㅣ가-힣]+', '', text) # 이모지 제거
    text = re.sub(r'[\n]+', ' ', text) # 줄바꿈 제거
    text = re.sub(r'^[\s]+$', '', text) # 빈 문자열 제거
    return text

In [97]:
pangyo['리뷰'] = pangyo['리뷰'].map(preprocessing)
pangyo.head()

     식당                                                 리뷰  별점
0  h541  버거와 프렌치 토스트를 먹었습니다. 버거는 패티가 두툼하고 번이 부드럽습니다. 다만...   3
1  h541  판교 현백 9층에 있는 파스타 맛집이다. 딸이랑 한달에 한 두번은 간다. 직원 수에...   4
2  h541  판교 현대백화점 9층에 있는 이탈리안 식당. 공간이 오픈 되어있는 스타일이고 주말은...   4
3  h541  음식이 정말 맛있고 서버 분들도 착하세요, 다만 벽이 없어서 사람들 지나다니는게 다...   5
4  h541   분당지역에서 잘하는 이태리 음식점들 중에 하나 현백에 있어서 쇼핑 후 식사하기도 좋음.   5

In [100]:
pangyo[pangyo['리뷰']=='']

                       식당 리뷰  별점
2253                 돼지맨숀      5
5310                 모모카페      4
8295            선한레시피 판교점      5
10310           아브뉴프랑 판교점      5
14698         정돈 현대백화점판교점      5
17641  텍사스로드하우스 현대백화점 판교점      5

In [101]:
pangyo.shape

(19388, 3)

In [103]:
pangyo[pangyo['리뷰']!=''].shape

(19382, 3)

In [104]:
preprocessing_pangyo = pangyo[pangyo['리뷰']!='']
preprocessing_pangyo.shape

(19382, 3)

In [105]:
preprocessing_pangyo.to_csv('preprocessing_pangyo.csv', index=False, encoding='utf-8')

# pn_df, concat_seoul, preprocessing_pangyo 합치기(최종)

In [106]:
pn_df = pd.read_csv('pn_df.csv')
pn_df.head()

    식당   별점                                                 리뷰
0  정식당  5.0  저의 개인적 취향을 두고 볼 때에는 소스가 전체적으로 오일리하고 무거운 느낌이 있습...
1  정식당  5.0  이정도 가격대의 식당을 방문하시는분이라면 식사에 대한 기준이 높을꺼라 생각합니다. ...
2  정식당  5.0  맛만 보면 4.5, 모든걸 더하면 5 배를 채우러 가기 보다는 음식이라는 하나의 주...
3  정식당  5.0  금액이 좀 비싸지만 미슐렝가이드 레스토랑을 제대로 즐길 수 있어요. 모든 음식은 한...
4  정식당  5.0  정말 세상에서 제일 맛있는 음식과 친절한 직원들  파인다이닝인데 큰 기교를 부리기보...

In [107]:
seoul = pd.read_csv('concat_seoul.csv')
seoul.head()

           식당                                                 리뷰   별점
0  또래오래-송파문정점                            역시 맛있어요 휴가 갔다오고 바로 먹었네용  5.0
1  또래오래-송파문정점                                        잘먹었습니다!~~~~  5.0
2  또래오래-송파문정점                                    맛있게잘먹었습니다!!!!!!  5.0
3  또래오래-송파문정점  왠만하면 리뷰안쓰는데 진짜 개맛있어요 다만 혼자 먹기엔 떡이 너무 많은데 떡보단 김...  5.0
4  또래오래-송파문정점  치킨배달왔다해서 나가보니까 치킨이없어서 황당한데 배달기사님은 전화도 안받으시고 가게...  5.0

In [108]:
pangyo = pd.read_csv('preprocessing_pangyo.csv')
pangyo.head()

     식당                                                 리뷰  별점
0  h541  버거와 프렌치 토스트를 먹었습니다. 버거는 패티가 두툼하고 번이 부드럽습니다. 다만...   3
1  h541  판교 현백 9층에 있는 파스타 맛집이다. 딸이랑 한달에 한 두번은 간다. 직원 수에...   4
2  h541  판교 현대백화점 9층에 있는 이탈리안 식당. 공간이 오픈 되어있는 스타일이고 주말은...   4
3  h541  음식이 정말 맛있고 서버 분들도 착하세요, 다만 벽이 없어서 사람들 지나다니는게 다...   5
4  h541   분당지역에서 잘하는 이태리 음식점들 중에 하나 현백에 있어서 쇼핑 후 식사하기도 좋음.   5

In [110]:
pn_df.shape, seoul.shape, pangyo.shape

((146902, 3), (106458, 3), (19382, 3))

In [109]:
pd.concat([pn_df, seoul, pangyo]).shape

(272742, 3)

In [111]:
last = pd.concat([pn_df, seoul, pangyo])
last.shape

(272742, 3)

In [112]:
last.to_csv('last_review.csv', index=False, encoding='utf-8')