In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import glob
# import seaborn as sns

# êµ¬ê¸€

In [ ]:
google = pd.read_csv('google.csv', usecols=['ì‹ë‹¹', 'ë³„ì ', 'ë¦¬ë·°'])

In [ ]:
google.head()

    ì‹ë‹¹  ë³„ì                                                  ë¦¬ë·°
0  ì •ì‹ë‹¹  5ê°œ  ì €ì˜ ê°œì¸ì  ì·¨í–¥ì„ ë‘ê³  ë³¼ ë•Œì—ëŠ”\nì†ŒìŠ¤ê°€ ì „ì²´ì ìœ¼ë¡œ ì˜¤ì¼ë¦¬í•˜ê³  ë¬´ê±°ìš´\nëŠë‚Œì´ ...
1  ì •ì‹ë‹¹  5ê°œ  ì´ì •ë„ ê°€ê²©ëŒ€ì˜ ì‹ë‹¹ì„ ë°©ë¬¸í•˜ì‹œëŠ”ë¶„ì´ë¼ë©´\nì‹ì‚¬ì— ëŒ€í•œ ê¸°ì¤€ì´ ë†’ì„êº¼ë¼ ìƒê°í•©ë‹ˆë‹¤....
2  ì •ì‹ë‹¹  5ê°œ  ë§›ë§Œ ë³´ë©´ 4.5, ëª¨ë“ ê±¸ ë”í•˜ë©´ 5\n\në°°ë¥¼ ì±„ìš°ëŸ¬ ê°€ê¸° ë³´ë‹¤ëŠ” ìŒì‹ì´ë¼ëŠ” í•˜ë‚˜...
3  ì •ì‹ë‹¹  5ê°œ  ê¸ˆì•¡ì´ ì¢€ ë¹„ì‹¸ì§€ë§Œ ë¯¸ìŠë ê°€ì´ë“œ ë ˆìŠ¤í† ë‘ì„ ì œëŒ€ë¡œ ì¦ê¸¸ ìˆ˜ ìˆì–´ìš”. ëª¨ë“  ìŒì‹ì€ í•œ...
4  ì •ì‹ë‹¹  5ê°œ  ì •ë§ ì„¸ìƒì—ì„œ ì œì¼ ë§›ìˆëŠ” ìŒì‹ê³¼ ì¹œì ˆí•œ ì§ì›ë“¤ â¤ï¸\níŒŒì¸ë‹¤ì´ë‹ì¸ë° í° ê¸°êµë¥¼ ë¶€...

In [ ]:
google.shape

(37572, 3)

In [ ]:
# ê²°ì¸¡ì¹˜ X
google.isna().sum()

ì‹ë‹¹    0
ë³„ì     0
ë¦¬ë·°    0
dtype: int64

# ë°ì´í„° ìˆ˜ì •(ìˆ«ìë¡œ ë³€í™˜, ì´ëª¨ì§€ì™€ ì¤„ë°”ê¿ˆ ì œê±°)

In [ ]:
google['ë³„ì '] = google['ë³„ì '].str[:1].astype(np.float64)
google.head()

    ì‹ë‹¹   ë³„ì                                                  ë¦¬ë·°
0  ì •ì‹ë‹¹  5.0  ì €ì˜ ê°œì¸ì  ì·¨í–¥ì„ ë‘ê³  ë³¼ ë•Œì—ëŠ”\nì†ŒìŠ¤ê°€ ì „ì²´ì ìœ¼ë¡œ ì˜¤ì¼ë¦¬í•˜ê³  ë¬´ê±°ìš´\nëŠë‚Œì´ ...
1  ì •ì‹ë‹¹  5.0  ì´ì •ë„ ê°€ê²©ëŒ€ì˜ ì‹ë‹¹ì„ ë°©ë¬¸í•˜ì‹œëŠ”ë¶„ì´ë¼ë©´\nì‹ì‚¬ì— ëŒ€í•œ ê¸°ì¤€ì´ ë†’ì„êº¼ë¼ ìƒê°í•©ë‹ˆë‹¤....
2  ì •ì‹ë‹¹  5.0  ë§›ë§Œ ë³´ë©´ 4.5, ëª¨ë“ ê±¸ ë”í•˜ë©´ 5\n\në°°ë¥¼ ì±„ìš°ëŸ¬ ê°€ê¸° ë³´ë‹¤ëŠ” ìŒì‹ì´ë¼ëŠ” í•˜ë‚˜...
3  ì •ì‹ë‹¹  5.0  ê¸ˆì•¡ì´ ì¢€ ë¹„ì‹¸ì§€ë§Œ ë¯¸ìŠë ê°€ì´ë“œ ë ˆìŠ¤í† ë‘ì„ ì œëŒ€ë¡œ ì¦ê¸¸ ìˆ˜ ìˆì–´ìš”. ëª¨ë“  ìŒì‹ì€ í•œ...
4  ì •ì‹ë‹¹  5.0  ì •ë§ ì„¸ìƒì—ì„œ ì œì¼ ë§›ìˆëŠ” ìŒì‹ê³¼ ì¹œì ˆí•œ ì§ì›ë“¤ â¤ï¸\níŒŒì¸ë‹¤ì´ë‹ì¸ë° í° ê¸°êµë¥¼ ë¶€...

In [ ]:
text = google.loc[4, 'ë¦¬ë·°']
text

'ì •ë§ ì„¸ìƒì—ì„œ ì œì¼ ë§›ìˆëŠ” ìŒì‹ê³¼ ì¹œì ˆí•œ ì§ì›ë“¤ â¤ï¸\níŒŒì¸ë‹¤ì´ë‹ì¸ë° í° ê¸°êµë¥¼ ë¶€ë¦¬ê¸°ë³´ë‹¤ ì •ë§ ë§›ìˆëŠ” ìŒì‹ì„ ë‚´ì˜¨ë‹¤ëŠ” ì¸ìƒì„ ë°›ì•˜ìŠµë‹ˆë‹¤\në§›ìˆëŠ” ê¹€ë°¥ê³¼ ë‹¹ê·¼ì€ ê¼­ ë“œì…”ë³´ì„¸ìš” ğŸ¥•'

In [ ]:
re.sub(r'[^ .,?!/@$%~ï¼…Â·âˆ¼()\x00-\x7Fã„±-ã…£ê°€-í£]+', '', text) # ì•„ìŠ¤í‚¤ ë¬¸ì(ê³µë°±, ìˆ«ì, ì˜ì–´ ë“±) ë²”ìœ„: \x00-\x7F

'ì •ë§ ì„¸ìƒì—ì„œ ì œì¼ ë§›ìˆëŠ” ìŒì‹ê³¼ ì¹œì ˆí•œ ì§ì›ë“¤ \níŒŒì¸ë‹¤ì´ë‹ì¸ë° í° ê¸°êµë¥¼ ë¶€ë¦¬ê¸°ë³´ë‹¤ ì •ë§ ë§›ìˆëŠ” ìŒì‹ì„ ë‚´ì˜¨ë‹¤ëŠ” ì¸ìƒì„ ë°›ì•˜ìŠµë‹ˆë‹¤\në§›ìˆëŠ” ê¹€ë°¥ê³¼ ë‹¹ê·¼ì€ ê¼­ ë“œì…”ë³´ì„¸ìš” '

In [ ]:
re.sub(r'[\n]+', ' ', text)

'ì •ë§ ì„¸ìƒì—ì„œ ì œì¼ ë§›ìˆëŠ” ìŒì‹ê³¼ ì¹œì ˆí•œ ì§ì›ë“¤ â¤ï¸ íŒŒì¸ë‹¤ì´ë‹ì¸ë° í° ê¸°êµë¥¼ ë¶€ë¦¬ê¸°ë³´ë‹¤ ì •ë§ ë§›ìˆëŠ” ìŒì‹ì„ ë‚´ì˜¨ë‹¤ëŠ” ì¸ìƒì„ ë°›ì•˜ìŠµë‹ˆë‹¤ ë§›ìˆëŠ” ê¹€ë°¥ê³¼ ë‹¹ê·¼ì€ ê¼­ ë“œì…”ë³´ì„¸ìš” ğŸ¥•'

In [ ]:
# ì´ëª¨ì§€ ì œê±°
def preprocessing(text):
    text = re.sub(r'[^ .,?!/@$%~ï¼…Â·âˆ¼()\x00-\x7Fã„±-ã…£ê°€-í£]+', '', text)
    text = re.sub(r'[\n]+', ' ', text)
    text = re.sub(r'^[\s]+$', '', text)
    return text

preprocessing('ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜    ')

''

In [ ]:
preprocessing(text)

'ì •ë§ ì„¸ìƒì—ì„œ ì œì¼ ë§›ìˆëŠ” ìŒì‹ê³¼ ì¹œì ˆí•œ ì§ì›ë“¤  íŒŒì¸ë‹¤ì´ë‹ì¸ë° í° ê¸°êµë¥¼ ë¶€ë¦¬ê¸°ë³´ë‹¤ ì •ë§ ë§›ìˆëŠ” ìŒì‹ì„ ë‚´ì˜¨ë‹¤ëŠ” ì¸ìƒì„ ë°›ì•˜ìŠµë‹ˆë‹¤ ë§›ìˆëŠ” ê¹€ë°¥ê³¼ ë‹¹ê·¼ì€ ê¼­ ë“œì…”ë³´ì„¸ìš” '

In [ ]:
google['ë¦¬ë·°'] = google['ë¦¬ë·°'].map(preprocessing)
google.head()

    ì‹ë‹¹   ë³„ì                                                  ë¦¬ë·°
0  ì •ì‹ë‹¹  5.0  ì €ì˜ ê°œì¸ì  ì·¨í–¥ì„ ë‘ê³  ë³¼ ë•Œì—ëŠ” ì†ŒìŠ¤ê°€ ì „ì²´ì ìœ¼ë¡œ ì˜¤ì¼ë¦¬í•˜ê³  ë¬´ê±°ìš´ ëŠë‚Œì´ ìˆìŠµ...
1  ì •ì‹ë‹¹  5.0  ì´ì •ë„ ê°€ê²©ëŒ€ì˜ ì‹ë‹¹ì„ ë°©ë¬¸í•˜ì‹œëŠ”ë¶„ì´ë¼ë©´ ì‹ì‚¬ì— ëŒ€í•œ ê¸°ì¤€ì´ ë†’ì„êº¼ë¼ ìƒê°í•©ë‹ˆë‹¤. ...
2  ì •ì‹ë‹¹  5.0  ë§›ë§Œ ë³´ë©´ 4.5, ëª¨ë“ ê±¸ ë”í•˜ë©´ 5 ë°°ë¥¼ ì±„ìš°ëŸ¬ ê°€ê¸° ë³´ë‹¤ëŠ” ìŒì‹ì´ë¼ëŠ” í•˜ë‚˜ì˜ ì£¼...
3  ì •ì‹ë‹¹  5.0  ê¸ˆì•¡ì´ ì¢€ ë¹„ì‹¸ì§€ë§Œ ë¯¸ìŠë ê°€ì´ë“œ ë ˆìŠ¤í† ë‘ì„ ì œëŒ€ë¡œ ì¦ê¸¸ ìˆ˜ ìˆì–´ìš”. ëª¨ë“  ìŒì‹ì€ í•œ...
4  ì •ì‹ë‹¹  5.0  ì •ë§ ì„¸ìƒì—ì„œ ì œì¼ ë§›ìˆëŠ” ìŒì‹ê³¼ ì¹œì ˆí•œ ì§ì›ë“¤  íŒŒì¸ë‹¤ì´ë‹ì¸ë° í° ê¸°êµë¥¼ ë¶€ë¦¬ê¸°ë³´...

In [ ]:
google.isna().sum()

ì‹ë‹¹    0
ë³„ì     0
ë¦¬ë·°    0
dtype: int64

In [ ]:
google[google['ë¦¬ë·°']=='']

                  ì‹ë‹¹   ë³„ì  ë¦¬ë·°
5627            ëšë°°ê¸°ì§‘  5.0
5655            ëšë°°ê¸°ì§‘  5.0
9924            ëšë°°ê¸°ì§‘  5.0
9952            ëšë°°ê¸°ì§‘  5.0
16285    ì •ì›ë ˆìŠ¤í† ë‘ ì–´ë°˜ê°€ë“   5.0
18536         ì‚¼ì²­ë™ìˆ˜ì œë¹„  4.0
25611    ì§„ì˜¥í™”í• ë§¤ì›ì¡°ë‹­í•œë§ˆë¦¬  3.0
27904       ìŸˆë‹ˆë¤í”Œë§ ë³¸ê´€  4.0
32081  ì£ í‹°ì¸ë„ ë ˆìŠ¤í† ë‘ ì‹ ì´Œì   3.0
33649            ìš°ìœ¡ë¯¸  4.0

In [ ]:
google.shape

(37572, 3)

In [ ]:
# ì´ëª¨í‹°ì½˜ì„ ë¹¼ì„œ ë¦¬ë·°ê°€ ì—†ì–´ì§€ëŠ” ê²ƒ drop
google = google[google['ë¦¬ë·°']!='']
google.shape

(37562, 3)

In [ ]:
google.to_csv('google_preprocessing.csv', index=False, encoding='utf-8')

# ìš”ê¸°ìš”

In [ ]:
yy = pd.read_csv('Gyeonggi_yogiyo.csv', usecols=['store_name', 'taste_point', 'quantity_point', 'review_text'])
yy.head()

,store_name,taste_point,quantity_point,review_text
0,ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì,4.0,5.0,ì˜¤ëŠ˜ì€ ê¸°ì‚¬ë‹˜ì´ ë°°ë‹¬ì™„ë£Œ ë¬¸ìë¥¼ ì•ˆì£¼ì…”ì„œ ëª¨ë¥´ë‹¤ê°€ ë°–ì— ë‚˜ê°€ë³´ë‹ˆ ìˆì—ˆìŠµë‹ˆë‹¤. ë–¡ë³¶ì´...
1,ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì,5.0,5.0,íƒ±ê¸€íƒ±ê¸€í•œ ìˆœëŒ€ ë§›ë‚˜ìš”
2,ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì,5.0,5.0,ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤
3,ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì,5.0,5.0,ì˜¤ëŠ˜ë„ ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤~~
4,ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì,5.0,5.0,ì˜¤ëœë§Œì— ë¨¹ì–´ë„ ë§›ìˆë„¤ìš” ë§ì´ íŒŒì„¸ìš”~~~~

# ê²°ì¸¡ê°’ ë³´ê¸°(126ê°œ ì œê±°)

In [ ]:
yy.isna().sum()

store_name          0
taste_point       126
quantity_point    126
review_text         0
dtype: int64

In [ ]:
yy.shape

(109650, 4)

In [ ]:
yy.dropna(inplace=True)

In [ ]:
yy.shape

(109524, 4)

# taste_pointì™€ quantity_point í‰ê·  ë‚´ê¸°

In [ ]:
yy['mean_point'] = (yy['taste_point']+yy['quantity_point'])/2
yy.head()

,store_name,taste_point,quantity_point,review_text,mean_point
0,ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì,4.0,5.0,ì˜¤ëŠ˜ì€ ê¸°ì‚¬ë‹˜ì´ ë°°ë‹¬ì™„ë£Œ ë¬¸ìë¥¼ ì•ˆì£¼ì…”ì„œ ëª¨ë¥´ë‹¤ê°€ ë°–ì— ë‚˜ê°€ë³´ë‹ˆ ìˆì—ˆìŠµë‹ˆë‹¤. ë–¡ë³¶ì´...,4.5
1,ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì,5.0,5.0,íƒ±ê¸€íƒ±ê¸€í•œ ìˆœëŒ€ ë§›ë‚˜ìš”,5.0
2,ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì,5.0,5.0,ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤,5.0
3,ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì,5.0,5.0,ì˜¤ëŠ˜ë„ ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤~~,5.0
4,ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì,5.0,5.0,ì˜¤ëœë§Œì— ë¨¹ì–´ë„ ë§›ìˆë„¤ìš” ë§ì´ íŒŒì„¸ìš”~~~~,5.0

In [ ]:
yogiyo = yy.drop(axis=1, columns=['taste_point', 'quantity_point'])
yogiyo.head()

    store_name                                        review_text  mean_point
0  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì   ì˜¤ëŠ˜ì€ ê¸°ì‚¬ë‹˜ì´ ë°°ë‹¬ì™„ë£Œ ë¬¸ìë¥¼ ì•ˆì£¼ì…”ì„œ ëª¨ë¥´ë‹¤ê°€ ë°–ì— ë‚˜ê°€ë³´ë‹ˆ ìˆì—ˆìŠµë‹ˆë‹¤. ë–¡ë³¶ì´...         4.5
1  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                        íƒ±ê¸€íƒ±ê¸€í•œ ìˆœëŒ€ ë§›ë‚˜ìš”         5.0
2  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                         ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤         5.0
3  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                   ì˜¤ëŠ˜ë„ ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤~~         5.0
4  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                            ì˜¤ëœë§Œì— ë¨¹ì–´ë„ ë§›ìˆë„¤ìš” ë§ì´ íŒŒì„¸ìš”~~~~         5.0

In [ ]:
yogiyo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109524 entries, 0 to 109649
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   store_name   109524 non-null  object
 1   review_text  109524 non-null  object
 2   mean_point   109524 non-null  float64
dtypes: float64(1), object(2)
memory usage: 3.3+ MB

# ë°ì´í„° ìˆ˜ì •

In [ ]:
yogiyo['review_text'].head(10)

0    ì˜¤ëŠ˜ì€ ê¸°ì‚¬ë‹˜ì´ ë°°ë‹¬ì™„ë£Œ ë¬¸ìë¥¼ ì•ˆì£¼ì…”ì„œ ëª¨ë¥´ë‹¤ê°€ ë°–ì— ë‚˜ê°€ë³´ë‹ˆ ìˆì—ˆìŠµë‹ˆë‹¤. ë–¡ë³¶ì´...
1                                         íƒ±ê¸€íƒ±ê¸€í•œ ìˆœëŒ€ ë§›ë‚˜ìš”
2                                          ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤
3                                    ì˜¤ëŠ˜ë„ ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤~~
4                             ì˜¤ëœë§Œì— ë¨¹ì–´ë„ ë§›ìˆë„¤ìš” ë§ì´ íŒŒì„¸ìš”~~~~
5                                           ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆì–´ìš”
6                                           ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆì–´ìš”
7                                      ì˜¤ë¯ˆë„ ë§›ë‚˜ê²Œ ì˜ ë¨¹ì—ˆì–´ìš”~
8    ë‚´ì¥ ë„˜ ë§›ìˆì–´ìš”...ğŸ˜­ ë¶€ë“œëŸ½ê³  ì«„ê¹ƒí•˜ê³  ë‹¤í•¨ ê³ íŠ€ë‘ ê¹€ë§ì´íŠ€ê¹€ë„ íŠ¹ì œì†ŒìŠ¤ ë§Œë“¤ì–´...
9                        ë¶„ì‹ ë¨¹ê³  ì‹¶ì„ë•Œ í•­ìƒ ì‹œì¼œìš” íŠ¹íˆ ìˆœëŒ€ ë„˜ ë§›ìˆì–´ìš”
Name: review_text, dtype: object

In [ ]:
yogiyo['review_text'] = yogiyo['review_text'].map(preprocessing)
yogiyo.head(10)

    store_name                                        review_text  mean_point
0  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì   ì˜¤ëŠ˜ì€ ê¸°ì‚¬ë‹˜ì´ ë°°ë‹¬ì™„ë£Œ ë¬¸ìë¥¼ ì•ˆì£¼ì…”ì„œ ëª¨ë¥´ë‹¤ê°€ ë°–ì— ë‚˜ê°€ë³´ë‹ˆ ìˆì—ˆìŠµë‹ˆë‹¤. ë–¡ë³¶ì´...         4.5
1  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                        íƒ±ê¸€íƒ±ê¸€í•œ ìˆœëŒ€ ë§›ë‚˜ìš”         5.0
2  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                         ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤         5.0
3  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                   ì˜¤ëŠ˜ë„ ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤~~         5.0
4  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                            ì˜¤ëœë§Œì— ë¨¹ì–´ë„ ë§›ìˆë„¤ìš” ë§ì´ íŒŒì„¸ìš”~~~~         5.0
5  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                          ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆì–´ìš”         5.0
6  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                          ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆì–´ìš”         5.0
7  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                     ì˜¤ë¯ˆë„ ë§›ë‚˜ê²Œ ì˜ ë¨¹ì—ˆì–´ìš”~         5.0
8  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì   ë‚´ì¥ ë„˜ ë§›ìˆì–´ìš”... ë¶€ë“œëŸ½ê³  ì«„ê¹ƒí•˜ê³  ë‹¤í•¨ ê³ íŠ€ë‘ ê¹€ë§ì´íŠ€ê¹€ë„ íŠ¹ì œì†ŒìŠ¤ ë§Œë“¤ì–´ì„œ...         5.0
9  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                       ë¶„ì‹ ë¨¹ê³  ì‹¶ì„ë•Œ í•­ìƒ ì‹œì¼œìš” íŠ¹íˆ ìˆœëŒ€ ë„˜ ë§›ìˆì–´ìš”         4.5

# ì´ëª¨ì§€ ì œê±°í•˜ë©´ ë¦¬ë·°ê°€ ì—†ëŠ” ê²½ìš°

In [ ]:
yogiyo[yogiyo['review_text']=='']

         store_name review_text  mean_point
115     ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                      5.0
301     ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                      5.0
1840    ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                      5.0
2106    ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                      5.0
2163    ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                      5.0
...             ...         ...         ...
105035  í–‰ë³µí•œì°œë‹­-ì˜¤í¬ëŠ¥í‰ì                      5.0
105096  í–‰ë³µí•œì°œë‹­-ì˜¤í¬ëŠ¥í‰ì                      5.0
105105  í–‰ë³µí•œì°œë‹­-ì˜¤í¬ëŠ¥í‰ì                      5.0
105106  í–‰ë³µí•œì°œë‹­-ì˜¤í¬ëŠ¥í‰ì                      5.0
107653     ë²ˆì©í”¼ì-ì‹ í˜„ì                      5.0

[184 rows x 3 columns]

In [ ]:
yogiyo.shape

(109524, 3)

In [ ]:
yogiyo = yogiyo[yogiyo['review_text']!='']
yogiyo.shape

(109340, 3)

# ì»¬ëŸ¼ ë„¤ì„ ì¬ì •ì˜

In [ ]:
yogiyo.rename(columns={'store_name':'ì‹ë‹¹', 'mean_point':'ë³„ì ', 'review_text':'ë¦¬ë·°'}, inplace=True)
yogiyo.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_23852\3996321321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yogiyo.rename(columns={'store_name':'ì‹ë‹¹', 'mean_point':'ë³„ì ', 'review_text':'ë¦¬ë·°'}, inplace=True)

            ì‹ë‹¹                                                 ë¦¬ë·°   ë³„ì
0  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì   ì˜¤ëŠ˜ì€ ê¸°ì‚¬ë‹˜ì´ ë°°ë‹¬ì™„ë£Œ ë¬¸ìë¥¼ ì•ˆì£¼ì…”ì„œ ëª¨ë¥´ë‹¤ê°€ ë°–ì— ë‚˜ê°€ë³´ë‹ˆ ìˆì—ˆìŠµë‹ˆë‹¤. ë–¡ë³¶ì´...  4.5
1  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                        íƒ±ê¸€íƒ±ê¸€í•œ ìˆœëŒ€ ë§›ë‚˜ìš”  5.0
2  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                         ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤  5.0
3  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                   ì˜¤ëŠ˜ë„ ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤~~  5.0
4  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                            ì˜¤ëœë§Œì— ë¨¹ì–´ë„ ë§›ìˆë„¤ìš” ë§ì´ íŒŒì„¸ìš”~~~~  5.0

In [ ]:
yogiyo.head()

            ì‹ë‹¹                                                 ë¦¬ë·°   ë³„ì
0  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì   ì˜¤ëŠ˜ì€ ê¸°ì‚¬ë‹˜ì´ ë°°ë‹¬ì™„ë£Œ ë¬¸ìë¥¼ ì•ˆì£¼ì…”ì„œ ëª¨ë¥´ë‹¤ê°€ ë°–ì— ë‚˜ê°€ë³´ë‹ˆ ìˆì—ˆìŠµë‹ˆë‹¤. ë–¡ë³¶ì´...  4.5
1  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                        íƒ±ê¸€íƒ±ê¸€í•œ ìˆœëŒ€ ë§›ë‚˜ìš”  5.0
2  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                         ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤  5.0
3  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                   ì˜¤ëŠ˜ë„ ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤~~  5.0
4  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                            ì˜¤ëœë§Œì— ë¨¹ì–´ë„ ë§›ìˆë„¤ìš” ë§ì´ íŒŒì„¸ìš”~~~~  5.0

In [ ]:
yogiyo.to_csv('yogiyo_preprocessing.csv', index=False, encoding='utf-8')

In [ ]:
yy = pd.read_csv('yogiyo_preprocessing.csv')
yy.isna().sum()

ì‹ë‹¹    0
ë¦¬ë·°    0
ë³„ì     0
dtype: int64

# concat

In [ ]:
google = pd.read_csv('google_preprocessing.csv')
google.head()

    ì‹ë‹¹   ë³„ì                                                  ë¦¬ë·°
0  ì •ì‹ë‹¹  5.0  ì €ì˜ ê°œì¸ì  ì·¨í–¥ì„ ë‘ê³  ë³¼ ë•Œì—ëŠ” ì†ŒìŠ¤ê°€ ì „ì²´ì ìœ¼ë¡œ ì˜¤ì¼ë¦¬í•˜ê³  ë¬´ê±°ìš´ ëŠë‚Œì´ ìˆìŠµ...
1  ì •ì‹ë‹¹  5.0  ì´ì •ë„ ê°€ê²©ëŒ€ì˜ ì‹ë‹¹ì„ ë°©ë¬¸í•˜ì‹œëŠ”ë¶„ì´ë¼ë©´ ì‹ì‚¬ì— ëŒ€í•œ ê¸°ì¤€ì´ ë†’ì„êº¼ë¼ ìƒê°í•©ë‹ˆë‹¤. ...
2  ì •ì‹ë‹¹  5.0  ë§›ë§Œ ë³´ë©´ 4.5, ëª¨ë“ ê±¸ ë”í•˜ë©´ 5 ë°°ë¥¼ ì±„ìš°ëŸ¬ ê°€ê¸° ë³´ë‹¤ëŠ” ìŒì‹ì´ë¼ëŠ” í•˜ë‚˜ì˜ ì£¼...
3  ì •ì‹ë‹¹  5.0  ê¸ˆì•¡ì´ ì¢€ ë¹„ì‹¸ì§€ë§Œ ë¯¸ìŠë ê°€ì´ë“œ ë ˆìŠ¤í† ë‘ì„ ì œëŒ€ë¡œ ì¦ê¸¸ ìˆ˜ ìˆì–´ìš”. ëª¨ë“  ìŒì‹ì€ í•œ...
4  ì •ì‹ë‹¹  5.0  ì •ë§ ì„¸ìƒì—ì„œ ì œì¼ ë§›ìˆëŠ” ìŒì‹ê³¼ ì¹œì ˆí•œ ì§ì›ë“¤  íŒŒì¸ë‹¤ì´ë‹ì¸ë° í° ê¸°êµë¥¼ ë¶€ë¦¬ê¸°ë³´...

In [ ]:
# ê²°ì¸¡ê°’ í™•ì¸
google.isna().sum()

ì‹ë‹¹    0
ë³„ì     0
ë¦¬ë·°    0
dtype: int64

In [ ]:
# shape í™•ì¸
google.shape

(37562, 3)

In [ ]:
yogiyo = pd.read_csv('yogiyo_preprocessing.csv')
yogiyo.head()

            ì‹ë‹¹                                                 ë¦¬ë·°   ë³„ì
0  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì   ì˜¤ëŠ˜ì€ ê¸°ì‚¬ë‹˜ì´ ë°°ë‹¬ì™„ë£Œ ë¬¸ìë¥¼ ì•ˆì£¼ì…”ì„œ ëª¨ë¥´ë‹¤ê°€ ë°–ì— ë‚˜ê°€ë³´ë‹ˆ ìˆì—ˆìŠµë‹ˆë‹¤. ë–¡ë³¶ì´...  4.5
1  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                        íƒ±ê¸€íƒ±ê¸€í•œ ìˆœëŒ€ ë§›ë‚˜ìš”  5.0
2  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                         ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤  5.0
3  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                                   ì˜¤ëŠ˜ë„ ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤~~  5.0
4  ìµœë°°ë‹¬ë–¡ìˆœíŠ€-ì„œìˆ˜ì›ì                            ì˜¤ëœë§Œì— ë¨¹ì–´ë„ ë§›ìˆë„¤ìš” ë§ì´ íŒŒì„¸ìš”~~~~  5.0

In [ ]:
# ê²°ì¸¡ê°’ í™•ì¸
yogiyo.isna().sum()

ì‹ë‹¹    0
ë¦¬ë·°    0
ë³„ì     0
dtype: int64

In [ ]:
# shape í™•ì¸
yogiyo.shape

(109340, 3)

In [ ]:
# í•©ì¹˜ë©´ ë‚˜ì˜¬ í–‰ ìˆ˜ í™•ì¸
google.shape[0]+yogiyo.shape[0]

146902

In [ ]:
df = pd.concat([google, yy])
df.head()

    ì‹ë‹¹   ë³„ì                                                  ë¦¬ë·°
0  ì •ì‹ë‹¹  5.0  ì €ì˜ ê°œì¸ì  ì·¨í–¥ì„ ë‘ê³  ë³¼ ë•Œì—ëŠ” ì†ŒìŠ¤ê°€ ì „ì²´ì ìœ¼ë¡œ ì˜¤ì¼ë¦¬í•˜ê³  ë¬´ê±°ìš´ ëŠë‚Œì´ ìˆìŠµ...
1  ì •ì‹ë‹¹  5.0  ì´ì •ë„ ê°€ê²©ëŒ€ì˜ ì‹ë‹¹ì„ ë°©ë¬¸í•˜ì‹œëŠ”ë¶„ì´ë¼ë©´ ì‹ì‚¬ì— ëŒ€í•œ ê¸°ì¤€ì´ ë†’ì„êº¼ë¼ ìƒê°í•©ë‹ˆë‹¤. ...
2  ì •ì‹ë‹¹  5.0  ë§›ë§Œ ë³´ë©´ 4.5, ëª¨ë“ ê±¸ ë”í•˜ë©´ 5 ë°°ë¥¼ ì±„ìš°ëŸ¬ ê°€ê¸° ë³´ë‹¤ëŠ” ìŒì‹ì´ë¼ëŠ” í•˜ë‚˜ì˜ ì£¼...
3  ì •ì‹ë‹¹  5.0  ê¸ˆì•¡ì´ ì¢€ ë¹„ì‹¸ì§€ë§Œ ë¯¸ìŠë ê°€ì´ë“œ ë ˆìŠ¤í† ë‘ì„ ì œëŒ€ë¡œ ì¦ê¸¸ ìˆ˜ ìˆì–´ìš”. ëª¨ë“  ìŒì‹ì€ í•œ...
4  ì •ì‹ë‹¹  5.0  ì •ë§ ì„¸ìƒì—ì„œ ì œì¼ ë§›ìˆëŠ” ìŒì‹ê³¼ ì¹œì ˆí•œ ì§ì›ë“¤  íŒŒì¸ë‹¤ì´ë‹ì¸ë° í° ê¸°êµë¥¼ ë¶€ë¦¬ê¸°ë³´...

In [ ]:
df.shape

(146902, 3)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146902 entries, 0 to 109339
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ì‹ë‹¹      146902 non-null  object
 1   ë³„ì       146902 non-null  float64
 2   ë¦¬ë·°      146902 non-null  object
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [ ]:
df.isna().sum()

ì‹ë‹¹    0
ë³„ì     0
ë¦¬ë·°    0
dtype: int64

In [ ]:
df.to_csv('pn_df.csv', index=False, encoding='utf-8')

# ì—¬ëŸ¬ df í•œ ë²ˆì— concat

In [ ]:
csv_list = glob.glob('ì„œìš¸/*.csv')
csv_list

['ì„œìš¸\\ê´‘ì§„êµ¬.csv',
 'ì„œìš¸\\ë™ëŒ€ë¬¸êµ¬.csv',
 'ì„œìš¸\\ì„±ë™êµ¬.csv',
 'ì„œìš¸\\ì†¡íŒŒêµ¬.csv',
 'ì„œìš¸\\ìš©ì‚°êµ¬.csv',
 'ì„œìš¸\\ì¢…ë¡œêµ¬.csv',
 'ì„œìš¸\\ì¤‘êµ¬.csv']

In [ ]:
cnt = 0
for csv in csv_list:
  df = pd.read_csv(csv)
  cnt += df.shape[0]
print(cnt)

107119

In [ ]:
df = pd.read_csv('ì„œìš¸/ìš©ì‚°êµ¬.csv', usecols=['store_name', 'taste_point', 'quantity_point', 'review_text'])
df.head()

,store_name,taste_point,quantity_point,review_text
0,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜
1,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ì—­ì‹œ ë§›ìˆì–´ìš” íœ´ê°€ ê°”ë‹¤ì˜¤ê³ ë°”ë¡œ ë¨¹ì—ˆë„¤ìš©
2,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!~~~~
3,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ë§›ìˆê²Œì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!!!!!!
4,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ì™ ë§Œí•˜ë©´ ë¦¬ë·°ì•ˆì“°ëŠ”ë° ì§„ì§œ ê°œë§›ìˆì–´ìš” ë‹¤ë§Œ í˜¼ì ë¨¹ê¸°ì—” ë–¡ì´ ë„ˆë¬´ ë§ì€ë° ë–¡ë³´ë‹¨ ê¹€...

In [ ]:
df.shape

(14650, 4)

In [ ]:
# ê²°ì¸¡ê°’
df.isna().sum()

store_name        0
taste_point       0
quantity_point    0
review_text       0
dtype: int64

In [ ]:
# ë³„ì  í‰ê· 
df['ë³„ì '] = (df['taste_point']+df['quantity_point'])/2
df.head()

,store_name,taste_point,quantity_point,review_text,ë³„ì
0,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜,5.0
1,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ì—­ì‹œ ë§›ìˆì–´ìš” íœ´ê°€ ê°”ë‹¤ì˜¤ê³ ë°”ë¡œ ë¨¹ì—ˆë„¤ìš©,5.0
2,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!~~~~,5.0
3,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ë§›ìˆê²Œì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!!!!!!,5.0
4,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ì™ ë§Œí•˜ë©´ ë¦¬ë·°ì•ˆì“°ëŠ”ë° ì§„ì§œ ê°œë§›ìˆì–´ìš” ë‹¤ë§Œ í˜¼ì ë¨¹ê¸°ì—” ë–¡ì´ ë„ˆë¬´ ë§ì€ë° ë–¡ë³´ë‹¨ ê¹€...,5.0

In [ ]:
# ì»¬ëŸ¼ ì´ë¦„ ì¬ì •ì˜
df.rename(columns={'store_name':'ì‹ë‹¹', 'review_text':'ë¦¬ë·°'}, inplace=True)
df.head()

,ì‹ë‹¹,taste_point,quantity_point,ë¦¬ë·°,ë³„ì
0,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜,5.0
1,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ì—­ì‹œ ë§›ìˆì–´ìš” íœ´ê°€ ê°”ë‹¤ì˜¤ê³ ë°”ë¡œ ë¨¹ì—ˆë„¤ìš©,5.0
2,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!~~~~,5.0
3,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ë§›ìˆê²Œì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!!!!!!,5.0
4,ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì,5,5,ì™ ë§Œí•˜ë©´ ë¦¬ë·°ì•ˆì“°ëŠ”ë° ì§„ì§œ ê°œë§›ìˆì–´ìš” ë‹¤ë§Œ í˜¼ì ë¨¹ê¸°ì—” ë–¡ì´ ë„ˆë¬´ ë§ì€ë° ë–¡ë³´ë‹¨ ê¹€...,5.0

In [ ]:
# ì‚¬ìš©í•˜ëŠ” ì»¬ëŸ¼ë§Œ
df.drop(axis=1, columns=['taste_point', 'quantity_point'], inplace=True)
df.head()

           ì‹ë‹¹                                                 ë¦¬ë·°   ë³„ì
0  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                          ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜ğŸ˜„ğŸ˜  5.0
1  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                             ì—­ì‹œ ë§›ìˆì–´ìš” íœ´ê°€ ê°”ë‹¤ì˜¤ê³  ë°”ë¡œ ë¨¹ì—ˆë„¤ìš©  5.0
2  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                         ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!~~~~  5.0
3  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                     ë§›ìˆê²Œì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!!!!!!  5.0
4  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì   ì™ ë§Œí•˜ë©´ ë¦¬ë·°ì•ˆì“°ëŠ”ë° ì§„ì§œ ê°œë§›ìˆì–´ìš” ë‹¤ë§Œ í˜¼ì ë¨¹ê¸°ì—” ë–¡ì´ ë„ˆë¬´ ë§ì€ë° ë–¡ë³´ë‹¨ ê¹€...  5.0

In [ ]:
# ì´ëª¨ì§€ ì œê±°
def preprocessing(text):
    text = re.sub(r'[^ .,?!/@$%~ï¼…Â·âˆ¼()\x00-\x7Fã„±-ã…£ê°€-í£]+', '', text)
    text = re.sub(r'[\n]+', ' ', text)
    return text

df['ë¦¬ë·°'] = df['ë¦¬ë·°'].map(preprocessing)
df.head()

           ì‹ë‹¹                                                 ë¦¬ë·°   ë³„ì
0  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                                      5.0
1  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                             ì—­ì‹œ ë§›ìˆì–´ìš” íœ´ê°€ ê°”ë‹¤ì˜¤ê³  ë°”ë¡œ ë¨¹ì—ˆë„¤ìš©  5.0
2  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                         ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!~~~~  5.0
3  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                     ë§›ìˆê²Œì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!!!!!!  5.0
4  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì   ì™ ë§Œí•˜ë©´ ë¦¬ë·°ì•ˆì“°ëŠ”ë° ì§„ì§œ ê°œë§›ìˆì–´ìš” ë‹¤ë§Œ í˜¼ì ë¨¹ê¸°ì—” ë–¡ì´ ë„ˆë¬´ ë§ì€ë° ë–¡ë³´ë‹¨ ê¹€...  5.0

In [ ]:
# ì´ëª¨ì§€ ì œê±° í›„ ë¹ˆ ë¬¸ìì—´ í™•ì¸
df[df['ë¦¬ë·°']=='']

                  ì‹ë‹¹ ë¦¬ë·°   ë³„ì
0         ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì      5.0
326    ì§€ì½”ë°”ì¹˜í‚¨-ì„œìš¸ì†¡íŒŒ1í˜¸ì      5.0
357    ì§€ì½”ë°”ì¹˜í‚¨-ì„œìš¸ì†¡íŒŒ1í˜¸ì      5.0
542      í”¼ìì— ì†Œë§ˆ-ì˜¤ê¸ˆê±°ì—¬ì      5.0
1162     í”¼ìì— ì†Œë§ˆ-ì˜¤ê¸ˆê±°ì—¬ì      5.0
...              ... ..  ...
19889       ë²ˆì©í”¼ì-ê°•ë‚¨ì      5.0
20288       ë²ˆì©í”¼ì-ê°•ë‚¨ì      5.0
20342       ë²ˆì©í”¼ì-ê°•ë‚¨ì      5.0
20426       ë²ˆì©í”¼ì-ê°•ë‚¨ì      5.0
20455       ë²ˆì©í”¼ì-ê°•ë‚¨ì      5.0

[123 rows x 3 columns]

In [ ]:
new_df = df[df['ë¦¬ë·°']!='']
new_df.head()

           ì‹ë‹¹                                                 ë¦¬ë·°   ë³„ì
1  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                             ì—­ì‹œ ë§›ìˆì–´ìš” íœ´ê°€ ê°”ë‹¤ì˜¤ê³  ë°”ë¡œ ë¨¹ì—ˆë„¤ìš©  5.0
2  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                         ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!~~~~  5.0
3  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                     ë§›ìˆê²Œì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!!!!!!  5.0
4  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì   ì™ ë§Œí•˜ë©´ ë¦¬ë·°ì•ˆì“°ëŠ”ë° ì§„ì§œ ê°œë§›ìˆì–´ìš” ë‹¤ë§Œ í˜¼ì ë¨¹ê¸°ì—” ë–¡ì´ ë„ˆë¬´ ë§ì€ë° ë–¡ë³´ë‹¨ ê¹€...  5.0
5  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì   ì¹˜í‚¨ë°°ë‹¬ì™”ë‹¤í•´ì„œ ë‚˜ê°€ë³´ë‹ˆê¹Œ ì¹˜í‚¨ì´ì—†ì–´ì„œ í™©ë‹¹í•œë° ë°°ë‹¬ê¸°ì‚¬ë‹˜ì€ ì „í™”ë„ ì•ˆë°›ìœ¼ì‹œê³  ê°€ê²Œ...  5.0

In [ ]:
# re.search(r'/([ê°€-í£]+).', 'ì„œìš¸/ê´‘ì§„êµ¬.csv').group(1)

'ê´‘ì§„êµ¬'

# concat ì „ ì €ì¥

In [ ]:
# ì´ëª¨ì§€ ì œê±°
def preprocessing(text):
    text = re.sub(r'[^ .,?!/@$%~ï¼…Â·âˆ¼()\x00-\x7Fã„±-ã…£ê°€-í£]+', '', text) # ì´ëª¨ì§€ ì œê±°
    text = re.sub(r'[\n]+', ' ', text) # ì¤„ë°”ê¿ˆ ì œê±°
    text = re.sub(r'^[\s]+$', '', text) # ë¹ˆ ë¬¸ìì—´ ì œê±°
    return text

for csv in glob.glob('ì„œìš¸/*.csv'):
  df = pd.read_csv(csv, usecols=['store_name', 'taste_point', 'quantity_point', 'review_text'])
  df.dropna(axis=0, inplace=True)
  df['ë³„ì '] = (df['taste_point']+df['quantity_point'])/2 # ë³„ì  í‰ê· 
  df.rename(columns={'store_name':'ì‹ë‹¹', 'review_text':'ë¦¬ë·°'}, inplace=True) # ì»¬ëŸ¼ ì´ë¦„ ì¬ì •ì˜
  df.drop(axis=1, columns=['taste_point', 'quantity_point'], inplace=True) # ì‚¬ìš©í•˜ëŠ” ì»¬ëŸ¼ë§Œ
  df['ë¦¬ë·°'] = df['ë¦¬ë·°'].map(preprocessing)
  new_df = df[df['ë¦¬ë·°']!='']
  new_df.to_csv(csv, index=False, encoding='utf-8')

# concat

In [ ]:
glob.glob('ì„œìš¸/*.csv')

['ì„œìš¸\\ê´‘ì§„êµ¬.csv',
 'ì„œìš¸\\ë™ëŒ€ë¬¸êµ¬.csv',
 'ì„œìš¸\\ì„±ë™êµ¬.csv',
 'ì„œìš¸\\ì†¡íŒŒêµ¬.csv',
 'ì„œìš¸\\ìš©ì‚°êµ¬.csv',
 'ì„œìš¸\\ì¢…ë¡œêµ¬.csv',
 'ì„œìš¸\\ì¤‘êµ¬.csv']

In [ ]:
concat_seoul = pd.concat([pd.read_csv(csv) for csv in glob.glob('ì„œìš¸/*.csv')])

In [ ]:
concat_seoul.head()

           ì‹ë‹¹                                                 ë¦¬ë·°   ë³„ì
0  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                             ì—­ì‹œ ë§›ìˆì–´ìš” íœ´ê°€ ê°”ë‹¤ì˜¤ê³  ë°”ë¡œ ë¨¹ì—ˆë„¤ìš©  5.0
1  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                         ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!~~~~  5.0
2  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                     ë§›ìˆê²Œì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!!!!!!  5.0
3  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì   ì™ ë§Œí•˜ë©´ ë¦¬ë·°ì•ˆì“°ëŠ”ë° ì§„ì§œ ê°œë§›ìˆì–´ìš” ë‹¤ë§Œ í˜¼ì ë¨¹ê¸°ì—” ë–¡ì´ ë„ˆë¬´ ë§ì€ë° ë–¡ë³´ë‹¨ ê¹€...  5.0
4  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì   ì¹˜í‚¨ë°°ë‹¬ì™”ë‹¤í•´ì„œ ë‚˜ê°€ë³´ë‹ˆê¹Œ ì¹˜í‚¨ì´ì—†ì–´ì„œ í™©ë‹¹í•œë° ë°°ë‹¬ê¸°ì‚¬ë‹˜ì€ ì „í™”ë„ ì•ˆë°›ìœ¼ì‹œê³  ê°€ê²Œ...  5.0

In [ ]:
concat_seoul.shape

(106458, 3)

In [ ]:
concat_seoul.isna().sum()

ì‹ë‹¹    0
ë¦¬ë·°    0
ë³„ì     0
dtype: int64

In [ ]:
concat_seoul[concat_seoul['ë¦¬ë·°']=='']

Empty DataFrame
Columns: [ì‹ë‹¹, ë¦¬ë·°, ë³„ì ]
Index: []

In [ ]:
concat_seoul[concat_seoul['ë¦¬ë·°']==' ']

Empty DataFrame
Columns: [ì‹ë‹¹, ë¦¬ë·°, ë³„ì ]
Index: []

In [ ]:
concat_seoul.to_csv('concat_seoul.csv', index=False, encoding='utf-8')

# êµ¬ê¸€ íŒêµ

In [92]:
pangyo = pd.read_csv('íŒêµë§›ì§‘ë¦¬ë·°.csv', usecols=['ì‹ë‹¹', 'ë¦¬ë·° ë‚´ìš©', 'í‰ì '])
pangyo.head()

     ì‹ë‹¹                                              ë¦¬ë·° ë‚´ìš©  í‰ì
0  h541  ë²„ê±°ì™€ í”„ë Œì¹˜ í† ìŠ¤íŠ¸ë¥¼ ë¨¹ì—ˆìŠµë‹ˆë‹¤. ë²„ê±°ëŠ” íŒ¨í‹°ê°€ ë‘íˆ¼í•˜ê³  ë²ˆì´ ë¶€ë“œëŸ½ìŠµë‹ˆë‹¤. ë‹¤ë§Œ...   3
1  h541  íŒêµ í˜„ë°± 9ì¸µì— ìˆëŠ” íŒŒìŠ¤íƒ€ ë§›ì§‘ì´ë‹¤. ë”¸ì´ë‘ í•œë‹¬ì— í•œ ë‘ë²ˆì€ ê°„ë‹¤. ì§ì› ìˆ˜ì—...   4
2  h541  íŒêµ í˜„ëŒ€ë°±í™”ì  9ì¸µì— ìˆëŠ” ì´íƒˆë¦¬ì•ˆ ì‹ë‹¹. ê³µê°„ì´ ì˜¤í”ˆ ë˜ì–´ìˆëŠ” ìŠ¤íƒ€ì¼ì´ê³  ì£¼ë§ì€...   4
3  h541  ìŒì‹ì´ ì •ë§ ë§›ìˆê³  ì„œë²„ ë¶„ë“¤ë„ ì°©í•˜ì„¸ìš”, ë‹¤ë§Œ ë²½ì´ ì—†ì–´ì„œ ì‚¬ëŒë“¤ ì§€ë‚˜ë‹¤ë‹ˆëŠ”ê²Œ ë‹¤...   5
4  h541  ë¶„ë‹¹ì§€ì—­ì—ì„œ ì˜í•˜ëŠ” ì´íƒœë¦¬ ìŒì‹ì ë“¤ ì¤‘ì— í•˜ë‚˜\ní˜„ë°±ì— ìˆì–´ì„œ ì‡¼í•‘ í›„ ì‹ì‚¬í•˜ê¸°ë„ ì¢‹ìŒ.   5

In [93]:
pangyo['ì‹ë‹¹'].unique()

array(['h541', 'jsê°€ë“  í˜„ëŒ€ë°±í™”ì íŒêµì ', 'ê²½ë³µê¶ íŒêµì ', 'ê³„ë€ì§‘', 'ê³µí™”ì¶˜ í˜„ëŒ€ë°±í™”ì íŒêµì ',
       'ê´‘í™”ë¬¸êµ­ë°¥ íŒêµì ', 'ê¸´ìë£Œì½” íŒêµì ', 'ê¹Œëª¬ íŒêµì•„ë¸Œë‰´í”„ë‘ì ', 'ëŠ¥ë¼ë„ ë³¸ì ', 'ë‹´ì†Œì‚¬ê³¨ìˆœëŒ€ íŒêµì ',
       'ë” í‚¤ì¹œ ì¼ë½€ë¥´ë…¸ í˜„ëŒ€ë°±í™”ì  íŒêµì ', 'ë”ì´íƒˆë¦¬ì•ˆí´ëŸ½ íŒêµí…Œí¬ì›ì ', 'ë”í”Œë ˆì´ìŠ¤ íŒêµì ', 'ë°ì´ë¹—ì•¤ë£°ìŠ¤',
       'ë„ì›ì°¸ì¹˜', 'ëˆë¸”ë‘ íŒêµì ', 'ë™ì²­ë‹´', 'ë¼ì§€ë§¨ìˆ€', 'ëì†Œ íŒêµë³¸ì ', 'ëšœì—ì´ì˜¤', 'ë¼ë””ì˜¤ë² ì´',
       'ë¼ë©˜ì²œí•˜', 'ë¼ë¹„ë–¼', 'ë¼ìŠ¤í† ë¦¬ì•„1001', 'ë½ë¹ˆì¹¼êµ­ìˆ˜', 'ëŒë°”ë‹¤', 'ë£¨í”„ì¼ë ˆë¸(ROOF 11)',
       'ë¦¬ìŠ¤ì¹´í˜ íŒêµ', 'ë¦¬ì–¼ìŠ¤í˜ì¸ íŒêµì ', 'ë§ˆë¼ê³µë°© íŒêµì ', 'ë§ˆë£¨ì‹¬ íŒêµì ', 'ë§ˆë§ˆë¬¸ìŠ¤ íŒêµë³¸ì ',
       'ë§¤ë“œí¬ê°ˆë¦­ íŒêµë¼ìŠ¤íŠ¸ë¦¬íŠ¸ì ', 'ë§¤ì¼ì‹ë‹¹', 'ëª…í’ˆêµ­ìˆ˜', 'ëª¨ëª¨ì•¼ í˜„ëŒ€ë°±í™”ì íŒêµì ', 'ëª¨ëª¨ì¹´í˜',
       'ëª½ì¤‘í—Œ íŒêµì ', 'ë¯¸ì†Œí•œìš°ì†Œê³ ê¸°êµ­ë°¥ íŒêµì—­ì ', 'ë°•ê°€ë¶€ëŒ€ì°Œê°œ íŒêµë¼ìŠ¤íŠ¸ë¦¬íŠ¸ì ', 'ë°˜í¬ì‹ìŠ¤ íŒêµì—­ì ', 'ë°©ì•„ê¹',
       'ë°©ìœ ë‹¹ ìš”ì¦˜ í•œì‹ ë‹¤ì´ë‹ ê·¸ë ˆì´ì¸  íŒêµì ', 'ë² ë„¤ì¿ ì¹˜', 'ë² ì´ì§•ìŠ¤í† ë¦¬', 'ë´‰ìš°ë¦¬ í˜„ëŒ€ë°±í™”ì  íŒêµì ',
       'ë¶„ì§œë¼ë¶ í˜„ëŒ€ë°±í™”ì  íŒêµì ', "ë¶“ì²˜ìŠ¤ì»· ì•„ë¸Œë‰´í”„ë‘íŒêµì  steak house BUTCHER'S CUT",
       'ë¸Œë£¨í´ë¦° ë” ë²„ê±° ì¡°ì¸íŠ¸', 'ë¹„ìŠ¤íŠ¸ë¡œë„ë§ˆ', 'ë¹„ì•™ë˜ì•„ íŒêµì ', 'ë¹ˆí‹°ì§€1988', 'ì‚¬ë¼ë² ìŠ¤-íŒêµ í˜„ëŒ€ë°±í™”ì ',
       'ì‚¼ë¯¸ì¹¼êµ­ìˆ˜', 'ì‚¿ë½€ë¡œíŒêµì ', 'ìƒˆë§ˆì„ì‹ë‹¹ íŒêµì ', 'ìƒ˜ë°­ë§‰êµ­ìˆ˜ íŒêµì ', 'ìƒì–´ê±°ìŠ¤í‹´ì•„ë¸Œë‰´í”„ë‘íŒêµì ',
       'ìƒ¤ìŠ¬ë¦­', 'ì„œí˜¸ëˆê°€ìŠ¤', 'ì„ í•œë ˆì‹œí”¼ íŒêµì ', 'ì„¸ë Œ', 'ì†Œí˜¸ì • íŒêµì•„ë¸Œë‰´í”„ë‘ì ', 'ì†Œí˜¸ì • íŒêµí…Œí¬ë…¸ë°¸ë¦¬ì ',
       'ì†¡ì¶”ê°€ë§ˆê³¨ ì¸ì–´ë°˜ íŒêµì ', 'ìˆ˜ìˆ˜ì»¤í”¼ íŒêµì•ŒíŒŒë”íƒ€ì›Œì ', 'ì‰ëˆ„í•˜ëˆ„', 'ìŠ¤ì‹œì´ë„', 'ìŠ¤ì‹œì¿¤', 'ìŠ¤ì‹œí˜¼',
       'ì‹ ë„ì„¸ê¸° íŒêµì—­ì ', 'ì‹ ìŠ¹ë°˜ì  íŒêµí˜„ëŒ€ë°±í™”ì ', 'ì•„ë¥´ê³ ', 'ì•„ë°©ë² ì´ì»¤ë¦¬ íŒêµì¹´ì¹´ì˜¤ì ', 'ì•„ë¸Œë‰´í”„ë‘ íŒêµì ',
       'ì•„ì›ƒë°±ìŠ¤í…Œì´í¬í•˜ìš°ìŠ¤ íŒêµì ', 'ì•ˆì•ˆ', 'ì–‘ë°”ìœ„ ë³¸ì ', 'ì–´ê¸€ë¦¬ìŠ¤í† ë¸Œ ì•ŒíŒŒë”ì‹œí‹°ì ',
       'ì–´ê¸€ë¦¬ìŠ¤í† ë¸Œ íŒêµë¼ìŠ¤íŠ¸ë¦¬íŠ¸ì ', 'ì—ë´ì‹ë‹¹', 'ì—ë¨¸ì´ íŒêµì ', 'ì—”ë°”ì´ì½˜', 'ì—¬ì˜ë‚˜ë£»íŒêµì ', 'ì˜ˆí–¥ì • íŒêµì ',
       'ì˜¤ë¦¬ì§€ë„íŒ¬ì¼€ì´í¬í•˜ìš°ìŠ¤ íŒêµì ', 'ì˜¤í•œìˆ˜ìš°ìœ¡ë©´ê°€ íŒêµì ', 'ì˜¨ì„¼ íŒêµì ', 'ìš°ëª½ íŒêµë³¸ì ', 'ìš°ì„¤í™” íŒêµì ',
       'ìš°ì˜ê´€', 'ìš°í…Œì´ë¸”', 'ìš¸í”„ìŠ¤ë´', 'ì›ì¡°ê°ìíƒ•ì¼ë¯¸ì§‘ íŒêµì ', 'ì›ì¡°ë¶€ì•ˆì§‘ íŒêµì§ì˜ì ',
       'ì´ê°€ë„¤ì–‘ê¼¬ì¹˜ íŒêµë³¸ì ', 'ì´íƒˆë¦¬ í˜„ëŒ€ë°±í™”ì  íŒêµì  (Eataly Pangyo)', 'ì´íƒœë¦¬ë¶€ëŒ€ì°Œê°œ íŒêµì ',
       'ì¸ë””í…Œì´ë¸” íŒêµì•„ë¸Œë‰´í”„ë‘ì ', 'ì¼ë„ì”¨ë‹­ê°ˆë¹„ íŒêµì ', 'ìì‚°ì–´ë³´ íŒêµì§ì˜ì ', 'ì¥ëª¨ë°¥ìƒ', 'ì¥ë¹„ë¹”êµ­ìˆ˜ì™€ êµ´êµ­ë°¥',
       'ì •ëˆ í˜„ëŒ€ë°±í™”ì íŒêµì ', 'ì •ì„ í•œìš°', "ì œì´ìŠ¤ íŒŸ J's pot", 'ì¡°ì¬ë²Œì‹ë‹¹', 'ì°œí•˜ìš°ìŠ¤', 'ì°¨ì•Œ',
       'ì°¨ì´ë‚˜ë ˆìŠ¤í† ë‘ì˜¤ë¼', 'ì°¸ë‹¤ìš´ ì •ìœ¡ì‹ë‹¹', 'ì°½ê³ 43 íŒêµì ', 'ì²œì§€ì—° íŒêµì ', 'ìµœê³ ì§‘ì§¬ë½•', 'ì¹´í˜ë„ë¡œ',
       'ì¹´í˜ì•„ì„í™ˆ ë°±í˜„ì ', 'í¬ë˜ë²„ ëŒ€ê²Œë‚˜ë¼ íŒêµì ', 'í´ì¤€ë¹›ë‚ ì˜', 'íƒ­í¼ë¸”ë¦­ íŒêµì ', 'í…Œì´ë¸”ìŠ¤í‘¼ íŒêµì ',
       'í…ì‚¬ìŠ¤ë¡œë“œí•˜ìš°ìŠ¤ í˜„ëŒ€ë°±í™”ì  íŒêµì ', 'í† ì†ìƒí™©ì‚¼ê³„íƒ•', 'íŒŒíŒŒë¼êµ¬ Papa Ragu', 'íŒêµì¥ì–´íƒ€ìš´', 'íŒêµì§‘',
       'íŒêµì§‘ íŒêµì—­ì ', 'í˜ì´ë”¤ íŒêµì ', 'í‘¸ì—ë¥´ì½” íŒêµì ', 'í‘¸ì¹˜ë‹ˆ', 'í’ì²œìˆ¯ë¶ˆì¬ë²Œì¥ì–´', 'í”¼ê·¸ì¸ë”ê°€ë“  íŒêµì ',
       'í”¼ì œë¦¬ì•„ë¹„ë‹ˆìŠ¤', 'í•˜ëˆ„ë§ˆë£¨ íŒêµì ', 'í•œêµ­ì§‘í˜„ëŒ€ë°±í™”ì íŒêµì ', 'í•œì™€ë‹´ íŒêµì ', 'í•´ìš°ë¦¬ íŒêµì ',
       'í—¤ë¹„ìŠ¤í…Œì´í¬ íŒêµí…Œí¬ë…¸ë°¸ë¦¬ì ', 'í˜„ëŒ€ì˜¥ íŒêµì ', 'í™€ì¸ì¹˜í‚¨', 'í™”í¬ì‹ë‹¹ íŒêµì ', 'íš¨ íŒêµì ',
       'í›„ë¼í† ì‹ë‹¹ ì•„ë¸Œë‰´í”„ë‘ íŒêµì ', 'í› ê¶ˆì•¼ íŒêµì•„ë¸Œë‰´í”„ë‘ì ', 'í¥ë„ì‹ë‹¹ íŒêµì '], dtype=object)

In [95]:
pangyo.rename(columns={'ë¦¬ë·° ë‚´ìš©': 'ë¦¬ë·°', 'í‰ì ':'ë³„ì '}, inplace=True)
pangyo.head()

     ì‹ë‹¹                                                 ë¦¬ë·°  ë³„ì
0  h541  ë²„ê±°ì™€ í”„ë Œì¹˜ í† ìŠ¤íŠ¸ë¥¼ ë¨¹ì—ˆìŠµë‹ˆë‹¤. ë²„ê±°ëŠ” íŒ¨í‹°ê°€ ë‘íˆ¼í•˜ê³  ë²ˆì´ ë¶€ë“œëŸ½ìŠµë‹ˆë‹¤. ë‹¤ë§Œ...   3
1  h541  íŒêµ í˜„ë°± 9ì¸µì— ìˆëŠ” íŒŒìŠ¤íƒ€ ë§›ì§‘ì´ë‹¤. ë”¸ì´ë‘ í•œë‹¬ì— í•œ ë‘ë²ˆì€ ê°„ë‹¤. ì§ì› ìˆ˜ì—...   4
2  h541  íŒêµ í˜„ëŒ€ë°±í™”ì  9ì¸µì— ìˆëŠ” ì´íƒˆë¦¬ì•ˆ ì‹ë‹¹. ê³µê°„ì´ ì˜¤í”ˆ ë˜ì–´ìˆëŠ” ìŠ¤íƒ€ì¼ì´ê³  ì£¼ë§ì€...   4
3  h541  ìŒì‹ì´ ì •ë§ ë§›ìˆê³  ì„œë²„ ë¶„ë“¤ë„ ì°©í•˜ì„¸ìš”, ë‹¤ë§Œ ë²½ì´ ì—†ì–´ì„œ ì‚¬ëŒë“¤ ì§€ë‚˜ë‹¤ë‹ˆëŠ”ê²Œ ë‹¤...   5
4  h541  ë¶„ë‹¹ì§€ì—­ì—ì„œ ì˜í•˜ëŠ” ì´íƒœë¦¬ ìŒì‹ì ë“¤ ì¤‘ì— í•˜ë‚˜\ní˜„ë°±ì— ìˆì–´ì„œ ì‡¼í•‘ í›„ ì‹ì‚¬í•˜ê¸°ë„ ì¢‹ìŒ.   5

In [96]:
# ì´ëª¨ì§€ ì œê±°
def preprocessing(text):
    text = re.sub(r'[^ .,?!/@$%~ï¼…Â·âˆ¼()\x00-\x7Fã„±-ã…£ê°€-í£]+', '', text) # ì´ëª¨ì§€ ì œê±°
    text = re.sub(r'[\n]+', ' ', text) # ì¤„ë°”ê¿ˆ ì œê±°
    text = re.sub(r'^[\s]+$', '', text) # ë¹ˆ ë¬¸ìì—´ ì œê±°
    return text

In [97]:
pangyo['ë¦¬ë·°'] = pangyo['ë¦¬ë·°'].map(preprocessing)
pangyo.head()

     ì‹ë‹¹                                                 ë¦¬ë·°  ë³„ì
0  h541  ë²„ê±°ì™€ í”„ë Œì¹˜ í† ìŠ¤íŠ¸ë¥¼ ë¨¹ì—ˆìŠµë‹ˆë‹¤. ë²„ê±°ëŠ” íŒ¨í‹°ê°€ ë‘íˆ¼í•˜ê³  ë²ˆì´ ë¶€ë“œëŸ½ìŠµë‹ˆë‹¤. ë‹¤ë§Œ...   3
1  h541  íŒêµ í˜„ë°± 9ì¸µì— ìˆëŠ” íŒŒìŠ¤íƒ€ ë§›ì§‘ì´ë‹¤. ë”¸ì´ë‘ í•œë‹¬ì— í•œ ë‘ë²ˆì€ ê°„ë‹¤. ì§ì› ìˆ˜ì—...   4
2  h541  íŒêµ í˜„ëŒ€ë°±í™”ì  9ì¸µì— ìˆëŠ” ì´íƒˆë¦¬ì•ˆ ì‹ë‹¹. ê³µê°„ì´ ì˜¤í”ˆ ë˜ì–´ìˆëŠ” ìŠ¤íƒ€ì¼ì´ê³  ì£¼ë§ì€...   4
3  h541  ìŒì‹ì´ ì •ë§ ë§›ìˆê³  ì„œë²„ ë¶„ë“¤ë„ ì°©í•˜ì„¸ìš”, ë‹¤ë§Œ ë²½ì´ ì—†ì–´ì„œ ì‚¬ëŒë“¤ ì§€ë‚˜ë‹¤ë‹ˆëŠ”ê²Œ ë‹¤...   5
4  h541   ë¶„ë‹¹ì§€ì—­ì—ì„œ ì˜í•˜ëŠ” ì´íƒœë¦¬ ìŒì‹ì ë“¤ ì¤‘ì— í•˜ë‚˜ í˜„ë°±ì— ìˆì–´ì„œ ì‡¼í•‘ í›„ ì‹ì‚¬í•˜ê¸°ë„ ì¢‹ìŒ.   5

In [100]:
pangyo[pangyo['ë¦¬ë·°']=='']

                       ì‹ë‹¹ ë¦¬ë·°  ë³„ì
2253                 ë¼ì§€ë§¨ìˆ€      5
5310                 ëª¨ëª¨ì¹´í˜      4
8295            ì„ í•œë ˆì‹œí”¼ íŒêµì       5
10310           ì•„ë¸Œë‰´í”„ë‘ íŒêµì       5
14698         ì •ëˆ í˜„ëŒ€ë°±í™”ì íŒêµì       5
17641  í…ì‚¬ìŠ¤ë¡œë“œí•˜ìš°ìŠ¤ í˜„ëŒ€ë°±í™”ì  íŒêµì       5

In [101]:
pangyo.shape

(19388, 3)

In [103]:
pangyo[pangyo['ë¦¬ë·°']!=''].shape

(19382, 3)

In [104]:
preprocessing_pangyo = pangyo[pangyo['ë¦¬ë·°']!='']
preprocessing_pangyo.shape

(19382, 3)

In [105]:
preprocessing_pangyo.to_csv('preprocessing_pangyo.csv', index=False, encoding='utf-8')

# pn_df, concat_seoul, preprocessing_pangyo í•©ì¹˜ê¸°(ìµœì¢…)

In [106]:
pn_df = pd.read_csv('pn_df.csv')
pn_df.head()

    ì‹ë‹¹   ë³„ì                                                  ë¦¬ë·°
0  ì •ì‹ë‹¹  5.0  ì €ì˜ ê°œì¸ì  ì·¨í–¥ì„ ë‘ê³  ë³¼ ë•Œì—ëŠ” ì†ŒìŠ¤ê°€ ì „ì²´ì ìœ¼ë¡œ ì˜¤ì¼ë¦¬í•˜ê³  ë¬´ê±°ìš´ ëŠë‚Œì´ ìˆìŠµ...
1  ì •ì‹ë‹¹  5.0  ì´ì •ë„ ê°€ê²©ëŒ€ì˜ ì‹ë‹¹ì„ ë°©ë¬¸í•˜ì‹œëŠ”ë¶„ì´ë¼ë©´ ì‹ì‚¬ì— ëŒ€í•œ ê¸°ì¤€ì´ ë†’ì„êº¼ë¼ ìƒê°í•©ë‹ˆë‹¤. ...
2  ì •ì‹ë‹¹  5.0  ë§›ë§Œ ë³´ë©´ 4.5, ëª¨ë“ ê±¸ ë”í•˜ë©´ 5 ë°°ë¥¼ ì±„ìš°ëŸ¬ ê°€ê¸° ë³´ë‹¤ëŠ” ìŒì‹ì´ë¼ëŠ” í•˜ë‚˜ì˜ ì£¼...
3  ì •ì‹ë‹¹  5.0  ê¸ˆì•¡ì´ ì¢€ ë¹„ì‹¸ì§€ë§Œ ë¯¸ìŠë ê°€ì´ë“œ ë ˆìŠ¤í† ë‘ì„ ì œëŒ€ë¡œ ì¦ê¸¸ ìˆ˜ ìˆì–´ìš”. ëª¨ë“  ìŒì‹ì€ í•œ...
4  ì •ì‹ë‹¹  5.0  ì •ë§ ì„¸ìƒì—ì„œ ì œì¼ ë§›ìˆëŠ” ìŒì‹ê³¼ ì¹œì ˆí•œ ì§ì›ë“¤  íŒŒì¸ë‹¤ì´ë‹ì¸ë° í° ê¸°êµë¥¼ ë¶€ë¦¬ê¸°ë³´...

In [107]:
seoul = pd.read_csv('concat_seoul.csv')
seoul.head()

           ì‹ë‹¹                                                 ë¦¬ë·°   ë³„ì
0  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                             ì—­ì‹œ ë§›ìˆì–´ìš” íœ´ê°€ ê°”ë‹¤ì˜¤ê³  ë°”ë¡œ ë¨¹ì—ˆë„¤ìš©  5.0
1  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                         ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!~~~~  5.0
2  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì                                     ë§›ìˆê²Œì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤!!!!!!  5.0
3  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì   ì™ ë§Œí•˜ë©´ ë¦¬ë·°ì•ˆì“°ëŠ”ë° ì§„ì§œ ê°œë§›ìˆì–´ìš” ë‹¤ë§Œ í˜¼ì ë¨¹ê¸°ì—” ë–¡ì´ ë„ˆë¬´ ë§ì€ë° ë–¡ë³´ë‹¨ ê¹€...  5.0
4  ë˜ë˜ì˜¤ë˜-ì†¡íŒŒë¬¸ì •ì   ì¹˜í‚¨ë°°ë‹¬ì™”ë‹¤í•´ì„œ ë‚˜ê°€ë³´ë‹ˆê¹Œ ì¹˜í‚¨ì´ì—†ì–´ì„œ í™©ë‹¹í•œë° ë°°ë‹¬ê¸°ì‚¬ë‹˜ì€ ì „í™”ë„ ì•ˆë°›ìœ¼ì‹œê³  ê°€ê²Œ...  5.0

In [108]:
pangyo = pd.read_csv('preprocessing_pangyo.csv')
pangyo.head()

     ì‹ë‹¹                                                 ë¦¬ë·°  ë³„ì
0  h541  ë²„ê±°ì™€ í”„ë Œì¹˜ í† ìŠ¤íŠ¸ë¥¼ ë¨¹ì—ˆìŠµë‹ˆë‹¤. ë²„ê±°ëŠ” íŒ¨í‹°ê°€ ë‘íˆ¼í•˜ê³  ë²ˆì´ ë¶€ë“œëŸ½ìŠµë‹ˆë‹¤. ë‹¤ë§Œ...   3
1  h541  íŒêµ í˜„ë°± 9ì¸µì— ìˆëŠ” íŒŒìŠ¤íƒ€ ë§›ì§‘ì´ë‹¤. ë”¸ì´ë‘ í•œë‹¬ì— í•œ ë‘ë²ˆì€ ê°„ë‹¤. ì§ì› ìˆ˜ì—...   4
2  h541  íŒêµ í˜„ëŒ€ë°±í™”ì  9ì¸µì— ìˆëŠ” ì´íƒˆë¦¬ì•ˆ ì‹ë‹¹. ê³µê°„ì´ ì˜¤í”ˆ ë˜ì–´ìˆëŠ” ìŠ¤íƒ€ì¼ì´ê³  ì£¼ë§ì€...   4
3  h541  ìŒì‹ì´ ì •ë§ ë§›ìˆê³  ì„œë²„ ë¶„ë“¤ë„ ì°©í•˜ì„¸ìš”, ë‹¤ë§Œ ë²½ì´ ì—†ì–´ì„œ ì‚¬ëŒë“¤ ì§€ë‚˜ë‹¤ë‹ˆëŠ”ê²Œ ë‹¤...   5
4  h541   ë¶„ë‹¹ì§€ì—­ì—ì„œ ì˜í•˜ëŠ” ì´íƒœë¦¬ ìŒì‹ì ë“¤ ì¤‘ì— í•˜ë‚˜ í˜„ë°±ì— ìˆì–´ì„œ ì‡¼í•‘ í›„ ì‹ì‚¬í•˜ê¸°ë„ ì¢‹ìŒ.   5

In [110]:
pn_df.shape, seoul.shape, pangyo.shape

((146902, 3), (106458, 3), (19382, 3))

In [109]:
pd.concat([pn_df, seoul, pangyo]).shape

(272742, 3)

In [111]:
last = pd.concat([pn_df, seoul, pangyo])
last.shape

(272742, 3)

In [112]:
last.to_csv('last_review.csv', index=False, encoding='utf-8')