In [51]:
import pandas as pd
import re
from konlpy.tag import Okt

# 데이터 합치기

In [6]:
gg = pd.read_csv('google.csv', usecols=['식당', '리뷰'])
gg.head()

    식당                                                 리뷰
0  정식당  저의 개인적 취향을 두고 볼 때에는\n소스가 전체적으로 오일리하고 무거운\n느낌이 ...
1  정식당  이정도 가격대의 식당을 방문하시는분이라면\n식사에 대한 기준이 높을꺼라 생각합니다....
2  정식당  맛만 보면 4.5, 모든걸 더하면 5\n\n배를 채우러 가기 보다는 음식이라는 하나...
3  정식당  금액이 좀 비싸지만 미슐렝가이드 레스토랑을 제대로 즐길 수 있어요. 모든 음식은 한...
4  정식당  정말 세상에서 제일 맛있는 음식과 친절한 직원들 ❤️\n파인다이닝인데 큰 기교를 부...

In [8]:
gg.shape

(37572, 2)

In [7]:
gg.isna().sum()

식당    0
리뷰    0
dtype: int64

In [10]:
yy = pd.read_csv('Gyeonggi_yogiyo.csv', usecols=['store_name', 'review_text'])
yy.head()

    store_name                                        review_text
0  최배달떡순튀-서수원점  오늘은 기사님이 배달완료 문자를 안주셔서 모르다가 밖에 나가보니 있었습니다. 떡볶이...
1  최배달떡순튀-서수원점                                       탱글탱글한 순대 맛나요
2  최배달떡순튀-서수원점                                        맛있게 잘 먹었습니다
3  최배달떡순튀-서수원점                                  오늘도 맛있게 잘 먹었습니다~~
4  최배달떡순튀-서수원점                           오랜만에 먹어도 맛있네요 많이 파세요~~~~

In [11]:
yy.shape

(109650, 2)

In [12]:
yy.isna().sum()

store_name     0
review_text    0
dtype: int64

In [21]:
yy.rename(columns={'store_name':'식당', 'review_text':'리뷰'}, inplace=True)
yy.head()

            식당                                                 리뷰
0  최배달떡순튀-서수원점  오늘은 기사님이 배달완료 문자를 안주셔서 모르다가 밖에 나가보니 있었습니다. 떡볶이...
1  최배달떡순튀-서수원점                                       탱글탱글한 순대 맛나요
2  최배달떡순튀-서수원점                                        맛있게 잘 먹었습니다
3  최배달떡순튀-서수원점                                  오늘도 맛있게 잘 먹었습니다~~
4  최배달떡순튀-서수원점                           오랜만에 먹어도 맛있네요 많이 파세요~~~~

In [14]:
nm = pd.read_csv('cleaned_merged.csv', usecols=['가게 이름', '댓글'])
nm.head()

       가게 이름                                                 댓글
0  장인닭갈비 건대점  듬뿍 뿌려진 치즈가 몽글몽글 스르르 녹아내리는 순 간 한입 쏙하면 쫄깃한 치즈맛이 ...
1  장인닭갈비 건대점  치즈와 닭갈비의 환상조합! 그동안의 닭갈비와는 차 원이 다른 곳이네요. 사리도 처음...
2  장인닭갈비 건대점  닭갈비 중간매운맛으로 주문했더니 맵기 딱좋았구요 맛있었어요 간이 좀 있어서 따로 쌈...
3  장인닭갈비 건대점  치즈 주문 안했다 다른 테이블 보고 바로 재주문~ 치 즈 추가 안했으면 후회할뻔.....
4  장인닭갈비 건대점  배부르게 잘먹고왔슴니다! 닭고기+양배추가 끝이라 더 다양한 야채사리가 있었으면 더 ...

In [15]:
nm.shape

(22144, 2)

In [17]:
nm.isna().sum()

가게 이름    0
댓글       0
dtype: int64

In [22]:
nm.rename(columns={'가게 이름':'식당', '댓글':'리뷰'}, inplace=True)
nm.head()

          식당                                                 리뷰
0  장인닭갈비 건대점  듬뿍 뿌려진 치즈가 몽글몽글 스르르 녹아내리는 순 간 한입 쏙하면 쫄깃한 치즈맛이 ...
1  장인닭갈비 건대점  치즈와 닭갈비의 환상조합! 그동안의 닭갈비와는 차 원이 다른 곳이네요. 사리도 처음...
2  장인닭갈비 건대점  닭갈비 중간매운맛으로 주문했더니 맵기 딱좋았구요 맛있었어요 간이 좀 있어서 따로 쌈...
3  장인닭갈비 건대점  치즈 주문 안했다 다른 테이블 보고 바로 재주문~ 치 즈 추가 안했으면 후회할뻔.....
4  장인닭갈비 건대점  배부르게 잘먹고왔슴니다! 닭고기+양배추가 끝이라 더 다양한 야채사리가 있었으면 더 ...

In [26]:
review_df = pd.concat([gg, yy, nm], axis=0)
review_df.shape

(169366, 2)

In [27]:
review_df.to_csv('review.csv', index=False, encoding='utf-8-sig')